@import '../styles/variables';
@import '../styles/mixins';
.table.table-striped {
  tr:nth-child(n+15) {
    display: none;
  }
  &.show-table {
    tr:nth-child(n+15) {
      display: table-row;
    }
  }
}
.product-info-full .show-more{
  width: 100%;
  min-height: 57px;
  border: 1px #6004BA solid;
  background: #F3F7F6;
  font-family: "ProximaNova", sans-serif;
  line-height: 24px;
  font-size: 16px;
  color: #000000;
}

.cart-page {
  padding-top: 114px;
  padding-bottom: 50px;
  #comment {
    width: 100%;
    height: 120px;
    resize: none;
  }
  .text_area_header {
    font-weight: 900;
    font-size: 22px;
    color: #000000;
    margin-top: 47px;
    text-align: center;
  }

  &__title {
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -1px;
    text-align: left;
    color: #000;
    margin: 36px 0;
  }
  &__cart {
    tr {
      td{
        padding: 0;
        &:nth-child(1){
          width: 70px;
          max-width: 70px;
        }
        &:nth-child(2){
          width: 91px;
          max-width: 91px;
          min-width: 60px;
          img {
            width: 100%;
          }
        }

        &:nth-child(3){
          max-width: 350px;
          width: 350px;
          padding-right: 45px;
        }
        &:nth-child(4){
          width: 195px;
          max-width: 195px;
        }
        &:nth-child(5){
          width: 186px;
          max-width: 186px;
        }

        &:nth-child(6){
          width: 320px;
          max-width: 320px;
        }
      }
    }
  }
  &__content {
    /* width: 100%;
     content: '';
     display: table;
     clear: both; */
  }
  .table {
    border: solid 1px #a1a1a1;
    padding: 1rem;
    tr td:last-child{
      text-align: right!important;
      padding-right: 30px;
    }
    .table-caption{
      td {
        padding: 8px;
      }
      .all {
        text-align: center;
      }
    }
    td {

      border: none;
      vertical-align: middle;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      img {
        width: 100%!important;
        height: auto;
        object-fit: contain;
      }
    }
    .icon {
      cursor: pointer;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
      text-align: center;
      color: $main-color-purple;
    }
    .decrease, .increase {
      cursor: pointer;
      display: inline-block;
      width: 25px;
      height: 25px;
      line-height: 25px;
      border: 1px solid #ccc;
      text-align: center;
      &:hover {
        border: 1px solid $main-color-purple;
      }
    }
    .cart-count {
      width: 20px;
      display: inline-block;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }

    .cart-itemlink {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      text-decoration: none;
      &:hover, &:active, &:visited, &:focus {
        color: #000;
        text-decoration: none;
      }
    }
  }
  &__name {
    font-size: 22px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.23;
    letter-spacing: -1px;
    text-align: left;
    color: #000;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  &__right {
    flex-grow: 1;
  }
  &__textarea {
    width: 385px;
    height: 120px;
    background-color: #fff;
    border: solid 1px #a1a1a1;
    resize: none;
    padding: 1rem;
  }
  &__back {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 194px;
    height: 43px;
    background-color: #fff;
    border: solid 1px $main-color-purple;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: $main-color-purple;
    &:hover {
      color: $main-color-purple;
      text-decoration: none;
    }
  }
}

.cartpage-price {
  color: #000;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;

  &-sale {
    font-weight: 500;
    line-height: 19px;
    font-size: 16px;
    color: #979797;
    text-decoration: line-through;
  }
}

.table-responsive .table-caption, .table-responsive .table-caption td {
  font-size: 16px;
  text-align: left;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}

.cart-page {
  .cart__table-buy {
    .order-page__cart .table-cart .table {
      padding-right: 0;
      td {
        font-size: 14px;

        &:nth-child(even) {
          text-align: right;
        }
      }
    }
    .table {
      border: none;
    }
  }

  .order-page__cart{
    padding: 0;
  }

  .table-cart {
    background: #F4F7F6;
    padding: 38px;
    box-sizing: border-box;

    .table {
      padding: 0;

      a {
        color: #00cac5;
        text-decoration: none;
        max-width: 221px;

        &:hover, &:active, &:visited, &:focus {
          color: #00cac5;
          text-decoration: none;
        }
      }
    }
  }
  .order-page__cart {
    .table-cart__footer {
      background: transparent;
      .alert.addPromoForm {
        text-align: center;
      }
      .table-cart__link_block {
        width: 100%;
        text-align: center;
      }
    }
    .interact-cart__text {
      text-align: left;
      box-sizing: border-box;
    }
  }
}

.interact-cart__text.summ {
  font-size: 18px;
  margin-bottom: 10px;
}
.interact-cart__summ {
  font-weight: 900;
}

.cart-itemstyle {
  max-width: 221px;
  a {
    color: #00cac5;
    text-decoration: none;
    max-width: 221px;
    &:hover, &:active, &:visited, &:focus {
      color: #00cac5;
      text-decoration: none;
    }
  }
}
.cart-summ {
  white-space: nowrap;
  width: 130px;
}

.table-responsive .cart-itemstyle {
  white-space: normal !important;
  p {
    white-space: normal !important;
  }
  a {
    white-space: normal !important;
  }
}

.cart-newwrap {
  width: 100%;

  .cart-page__back {
    text-align: center;
    line-height: 43px;
    border-radius: 2px;
    margin-left: auto;
    @media only screen and (max-width: 600px) {
      margin-left: inherit;
    }
    @media only screen and (max-width: 400px) {
      width: 100%;
      margin-right: 0;
    }

  }

  .cart-page__textarea {
    width: 100%;

  }

  .text_area_header{
    text-align: left;
  }

  .table-cart__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    @media only screen and (max-width: 600px) {
      flex-wrap: wrap;
    }

    &-head {
      display: flex;
      @media only screen and (max-width: 600px) {
        flex-wrap: wrap;
      }
    }

    label {

      &:nth-child(1) {
        display: flex;
      }
        
      &:nth-child(2) {
        text-align: left;
      }
      
    }

  }

  .table-cart__promocode {
    height: 43px;
    border-radius: 2px;
    background-color: #fff;
    border: solid 1px #a1a1a1;
    line-height: 44px;
    padding: 0 15px;
    min-width: 230px;
    margin-right: 7px;
    @media only screen and (max-width: 600px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }

  }

  .table-cart__promobtn {
    height: 43px;
    background-color: #fff;
    border: solid 1px #6004ba;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 43px;
    letter-spacing: normal;
    color: #6004ba;
    border-radius: 2px;
    padding: 0 14px;
    text-decoration: none;
    margin-right: 7px;
    @media only screen and (max-width: 400px) {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      text-align: center;
    }

    &:hover, &:active, &:visited, &:focus {
      text-decoration: none;
      color: #6004ba;
    }
  }
}
.interactcart-toorder {
  color: #fff;
  background: #6004ba;
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 30px auto 0;
  display: table;
  text-decoration: none;
  &:hover, &:active, &:visited, &:focus {
    text-decoration: none;
    color: #fff;
  }
}

.table-compare {
  border-top: none !important;
  border-bottom: none !important;
  overflow-y: auto !important;

  .table {
    border-top: none !important;
    width: 100%;
    table-layout: fixed;
    td {
      max-width: 16.6%;
      width: 16.6%;
      min-width: 16.6%;
      padding: 15px 38px;
    }
    tr:last-of-type td:first-of-type {
      border-bottom: none;
      position: relative;
      &:after {
        position: absolute;
        width: 100%;
        height: 2px;
        background: #fff;
        content: "";
        left: 0;
        bottom: -1px;
      }
    }
  }

  .product__image img {
    max-width: 100px;
  }

  .product__description {
    white-space: normal;
  }

  tr {
    box-sizing: border-box;
    &:first-of-type {
      border-bottom: 1px solid #ddd;
    }
    &:last-of-type {
      border-bottom: 1px solid #ddd;
    }
    td {
      border-right: 1px solid #ddd;
      &:first-of-type {
        border-right: 1px solid #ddd;
      }
    }
    .maintd {
      width: 250px;
    }
    .compare-lined {
      white-space: normal;
    }
  }

  .product__rating {
    margin-top: 25px;
  }

  .rating-count {
    color: #5A03AF;
    font-size: 14px;
    font-weight: 600;
  }
  .product__btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    color: #6004BA;
    text-decoration: none;
    display: block;
    position: absolute;
    width: 100%;
    left: 35px;
    bottom: 44px;
    &:hover, &:active, &:focus, &:visited {
      color: #6004BA;
      text-decoration: none;
    }
  }

  .product__price-old {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
    text-decoration: line-through;
    padding: 10px 0 0 0;
    min-height: 40px;
  }

  .product__price-current {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
}
.table-compare .table > tbody > tr > td,
.table-compare .table > tbody > tr > th,
.table-compare .table > tfoot > tr > td,
.table-compare .table > tfoot > tr > th,
.table-compare .table > thead > tr > td,
.table-compare .table > thead > tr > th {
  border-bottom: none !important;
  border-top: none !important;
}

.compare-title {
  max-width: 276px;
  white-space: normal;
}

.compare-product {
  width: 295px;
  max-width: 295px;
  position: relative;
  padding-bottom: 90px !important;
  border-bottom: none !important;
  border-top: none;
  .compare-close {
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #6004ba;
    position: absolute;
    right: 22px;
    top: 3px;
    z-index: 3;
  }
}
.compare-lined {
  position: relative;
  padding-bottom: 23px;
  &:after {
    width: 100%;
    background: #ddd;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
  }
}














