@import '../styles/variables';
@import '../styles/mixins';

.categories-page {
  position: relative;
  margin-top: 25px;
  padding-right: 15px;
  &__name {
    position: absolute;
    top: -102px;
    left: 50px;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    text-align: left;
    color: #000;
    display: inline-block;
    font-family: ProximaNova,sans-serif;
    letter-spacing: -1px;
  }
  .search-page__grid {
    max-width: 80%;
    .slider-category__item {
      flex: 0 0 24%;
      max-width: 24%;
      &:last-child {
        justify-self: flex-start;
        margin-right: auto;
        margin-left: 1.5%;
      }
    }
  }
  .search-page__row {
    padding: 0;
    .select-search {
      margin: 20px 0;
    }
    .blog-pagination {
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
  &:after {
    clear: both;
    display: table;
    content: '';
  }
}

.sidebar {
  //padding: 0 50px 0 50px;
  &-action {
    font-size: 19px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.58;
    letter-spacing: -0.9px;
    text-align: left;
    color: #000000;
    margin: 16px 0;
  }
  .form-group {
    margin-top: 50px;
    //--------------------
    margin-left: auto;
    margin-right: auto;
    max-width: 295px;
    min-width: 210px;
    //-----------------------
    text-align: center;
    &__limits {
      text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      input {
        background: none;
        margin-bottom: 0;
        max-width: 55px;
        margin: 0 15px;
      }
      //span{
      //  &:nth-child(2){
      //    margin-left: 15px;
      //  }
      //}
    }
    &__text {
      display: block;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      margin-bottom: 19px;
    }
    &__search {
      background: #fff url("../../images/search-icon.svg") no-repeat 95% 50%;
      width: 100%;
      height: 44px;
      border-radius: 2px;
      border: solid 1px #a1a1a1;
      padding: 10px;
      margin-bottom: 20px;
    }
    &__link-all {
      border-bottom: 1px dotted $main-color-purple;
      display: inline-block;
      font-family: "ProximaNova", sans-serif;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      text-align: center;
      color: #6004ba;
      margin: 0 auto;
      cursor: pointer;
      &:hover {
        border-bottom: 1px solid $main-color-purple;
        text-decoration: none;
      }
    }
    & .categor-sub {
      margin-top: 14px;
      margin-left: 35px;
    }
    .categor-sub.none {
      display: none;
    }
    .form-group.categor-sub-sub {
      margin-top: 14px;
      margin-left: 35px;
    }
    .form-group.categor-sub-sub.none {
        display: none;
    }

    &.categor {
      max-height: 417px;
      overflow-y: auto;
      .checkbox-wrap {
        word-wrap: normal;
        padding-right: 10px;
        line-height: 25px;
      }
    }
  }
  .brand {
    margin-top: 0;
  }

  #BrandsList {
    transition: all 1s ease 0s;

    .list-minimized label {
      display: none;
      opacity: 0;
      transition: all 1s ease 0s;
      &:nth-child(-n+7) {
        display: block;
        opacity: 1;
        transition: all 1s ease 0s;
      }
    }
  }
}




















