@import '../styles/variables';
@import '../styles/mixins';

.footer {
  background: $main-page-footer-color;
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    padding: 50px;
  }
  &__item {
    flex: 0 0 25%;
    max-width: 25%;
    span{
      font-weight: 900;
    }
    &:last-child {
      .footer__link {
        float: left;
        margin-right: 25px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  &__link {
    display: block;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    padding: 8px 0;
    &:hover, &:active, &:focus {
      color: #fff;
      text-decoration: none;
    }
    &-header {
      font-weight: 900;
      margin: 0;
    }
  }
  .footer-email, .footer-telephone {
    font-size: 19px;
  }
  &__social {
    float: left;
    margin-right: 25px;
    &:last-child{
      margin-right: 0;
    }
  }
  &-bot {
    opacity: 0.2;
    border-top: solid 1px #fff;
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    padding: 20px 0;
    text-transform: lowercase;
  }
}