@import '../styles/variables';
@import '../styles/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  &-top {
    background-color: $header-top-bgcolor;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: space-between;
    &__language {
      cursor: pointer;
      padding: 6px 50px;
      flex: 0 0 20.9%;
      max-width: 20.9%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
     // justify-content: space-between;
      justify-content: flex-start;
      @include header-text-style;
      font-weight: 600;
      .header-top__lang {
        margin: 0 20px;
      }
    }
    .header_dropdown_currency{
        width: 55px;
        height: 18px;
        border: none;
        position: relative;
        color: white;
        padding-left: 5px;
      background-color: #360060;
      .dropdown-menu{
        min-width: 100%;
        color: #6004ba;
        text-align: center;
      }
      input{
        background-color: #360060;
        border-radius: 2px;
        cursor: pointer;
        border: none;
        width: 100%;
        height: 100%;
        padding: 5px;
      }
      .caret{
        position: absolute;
        top: 7px;
        right: 6px;
        color: white;
      }
    }
    //&__currency {
    //  width: 55px;
    //  height: 18px;
    //  border-radius: 2px;
    //  border: none;
    //  //position: relative;
    //  color: black;
    //  padding-left: 5px;
    //
    //  //select {
    //  //  cursor: pointer;
    //  //  background-color: $header-top-bgcolor;
    //  //  background-size: 20%;
    //  //}
    //}
    &__actions {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-start;
      padding: 6px 50px;
      margin: 0;
    }
    &__country {
      &-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }
    }
    &__link {
      display: block;
      @include header-text-style;
      font-weight: 600;
      position: relative;
      &:hover {
        color: #fff;
      }
      .like {
        position: absolute;
        left: -25px;
        width: 15px;
        text-align: center;
      }
    }
    &__item {
      display: inline-block;
      margin-right: 25px;
      padding-left: 25px;
      &:nth-of-type(1) {
        background: url(../../images/shape.svg) no-repeat 0 center;
      }
      &:nth-of-type(2) {
        background: url(../../images/libra.svg) no-repeat 0 center;
      }
      &:nth-of-type(3) {
        background: url(../../images/love.svg) no-repeat 0 center;
        &.fullheart {
          background: url(../../images/love-full.svg) no-repeat 0 center;
          background-size: contain;
        }
      }
      &:nth-of-type(4) {
        background: url(../../images/share-symbol.svg) no-repeat 0 center;
        margin-right: 0;
      }

      .show_like{
        display: block!important;
      }

      .like {
        width: 18px;
        height: 16px;
        position: absolute;
        display: none;


        &__number {
          text-align: center;
          font-size: 9px;
          color: #fff;
          width: 100%;
          position: absolute;
          left: 0;
          top: 3px;
        }
      }
    }
  }
  &-main {
    background-color: $header-main-color;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
    .header-main__content-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
    &__content {
      flex: 0 0 55%;
    }
    &__logo {
      flex: 0 0 20%;
      padding-left: 50px;
      align-items: center;
      display: flex;
      img {
        max-height: 20px;
        transform: translateY(-5px);
      }
    }
    &__information {
      flex: 0 0 25%;
      padding-right: 50px;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
    &__autorization {
      //background: url(../../images/noname.svg) no-repeat;
      height: 100%;
      display: flex;
      align-items: center;
      padding-left: 40px;
      padding-right: 7%;
      .login,
      .registration {
        img {
          margin-right: 10px;

        }
        .and{
          border-left: 2px #8139C8 solid;
          padding-left: 10px;
          margin-left: 10px;
        }
        @include header-text-style;
      }
      .login {
        margin-right: 10px;
        margin-top: -3px;
        position: relative;
        display: flex;
        align-items: center;

        .fa-sign-in, .fa-user{
          font-size: 40px;
        }
        .login_more{
          margin-left: 10px;
        }
        &:hover, &:active, &:visited, &:focus {
          text-decoration: none;
        }
      }
      .registration {
        margin-left: 10px;
      }
    }
    &__cart {
      background: url(../../images/cart.svg) no-repeat;
      cursor: pointer;
      @include header-text-style;
      height: 100%;
      min-width: 33px;
      position: relative;
      text-decoration: none;
      color: #fff;
      .header-main__cart-count {
        color: #fff;
        text-decoration: none;
      }
        &:hover, &:active, &:visited, &:focus {
            color: #fff;
            text-decoration: none;
          }
        &-count {
          @include center;
          //a {
          //  color: #fff;
          //  text-decoration: none;
          //  &:hover, &:active, &:visited, &:focus {
          //    color: #fff;
          //    text-decoration: none;
          //  }
          //}
        }
    }
    &__telephones {
      .header_dropdown_phone{
        cursor: pointer;
        margin-right: 15px;
        background: white;
        border-radius: 2px;
        color: #6004ba;
        ul{
          width: 100%;
          font-size: 22px;
          text-align: center;
          padding-top: 0;
          padding-bottom: 0;
          li:hover{
            background-color: #6004ba;
            color: white;
          }
        }
      }
      .telephones__icon {
        cursor: pointer;
        margin-right: 5px;
        width: 15px;
      }
      @include header-text-style;
      font-size: 22px;
      font-weight: 900;
      flex: 0 0 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .schedule {
        display: inline-block;
        height: 100%;
        position: relative;
        &__icon {
          display: flex;
          align-items: center;
        }
        &__text {
          font-weight: 600!important;
          @include header-text-style;
          background: url("../../images/time.svg") no-repeat 0 center;
          display: flex;
          align-items: center;
          padding-left: 20px;
        }
      }
    }
    &__telephone {
      background-size: 5%;
      //background-color: $header-main-color;
      //margin-right: 25px;
      padding-left: 10px;
      padding-right: 10px;
    }
    &__search {
      flex: 0 0 50%;
      position: relative;
      .search-element {
        border: none;
        border-radius: 2px;
        min-height: 36px;
        padding: 7px 16px;
        padding-right: 70px;
        width: 100%;
        @include header-text-style;
        color: $header-main-color;
      }

      .dropdown {
        display: none;
        position: absolute;
        top: 40px;
        width: 300px;
        right: 0;
        background-color: rgba(0,0,0,.5);
      }

      .fa {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 13px;
        transform: translateY(-50%);
        font-size: 24px;
        color: $header-main-color;

      }

      .fa-caret-down {
        right: 50px;
        &:hover {
          & ~ .dropdown {
            display: block;
            left: 0;
            opacity: 1;
            /* Показываем подменю при ховере */
            visibility: visible;
            -webkit-transition-property: opacity, visibility;
            transition-property: opacity, visibility;
            /* Задаем какие свойства анимировать */
            -webkit-transition-duration: .25s, .25s;
            transition-duration: .25s, .25s;
            /* Задаем продолжительность анимации для каждого свойства */
            -webkit-transition-delay: .40s, .40s;
            transition-delay: .40s, .40s;
            /* Задаем задержку анимации для каждого свойства */
            overflow-y: scroll;
            max-height: 70vh;
            z-index: 5;
          }
        }
      }

      .dropdown {
        position: absolute;
        top: 0;
        margin-top: 30px;
        width: 200px;
        right: 0;
        background-color: rgba(0,0,0,.5);
        background-color: #fff;
        display: block;
        visibility: hidden;
        opacity: 0;
        margin-left: auto;
        z-index: -1;
        &:hover {
          display: block;
          left: 0;
          opacity: 1;
          visibility: visible;
          -webkit-transition-property: opacity, visibility;
          transition-property: opacity, visibility;
          -webkit-transition-duration: .25s, .25s;
          transition-duration: .25s, .25s;
          -webkit-transition-delay: .40s, .40s;
          transition-delay: .40s, .40s;
          overflow-y: scroll;
          max-height: 70vh;
          z-index: 5;
        }

        .megamenu {
          padding: 20px;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000;
          text-decoration: none;
          transition: color .3s;
          border-bottom: 1px solid rgba(0,0,0,.5);
          padding-bottom: 10px;


        }

        li a {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #5c5c5c;
          display: inline-block;
          width: 100%;

          &:hover {
            color: $header-top-bgcolor;
          }
        }
      }

    }
  }
  &-bottom {
    background-color: $header-top-bgcolor;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.14);
    .info-img {
      display: none;
    }

    &__mobile {
      display: none;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding-right: 15px;
      height: 50px;

      &.active {
        .header-bottom__mobile-title {
          visibility: hidden;
          transform: scaleX(0);
          max-width: 0;
        }

        form {
          max-width: 300px;
        }

        label {
          max-width: 300px;
          transition: max-width .3s;
        }

        .fa {
          color: $header-main-color;
        }

        .btn-caret {
          visibility: visible;
        }
      }

      &-title {
        max-width: 150px;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        transition: max-width .5s;


        p {
          margin: 0;
          font-size: 18px;
          color: #fff;
          font-weight: bold;
        }
      }

      form {
        position: relative;
        max-width: 35px;
        z-index: 10;
        width: 100%;
        display: inline-block;
        transition: max-width .5s;

        label {
          width: 100%;
          max-width: 0;
          overflow: hidden;
          margin: 0;
          transition: max-width .5s;
          float: right;
          //transform: translate(100%);
        }

        input {
          width: 100%;
          border: none;
          border-radius: 2px;
          min-height: 36px;
          padding: 7px 16px;
          font-size: 14px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          padding-right: 60px;
        }
      }

      .btn-search {
        position: absolute;
        right: -1px;
        top: -2px;
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        transition: color .7s;
        height: 100%;
        display: inline-block;
        float: right;
        width: 40px;
        padding: 0;

      }

      .btn-caret {
        right: 36px;
        visibility: hidden;
        display: inline-block;
        padding: 0 5px;
        position: absolute;
        top: 0;
        background-color: inherit;
        border: none;
        cursor: pointer;
        font-size: 28px;
        color: #fff;
        transition: color .7s;
        height: 100%;
        .fa {
          position: relative;
          top: -5px;
        }

      }

      .fa {
        cursor: pointer;
        font-size: 24px;
      }

      .dropdown {
        
        &.active {
          left: 0;
          opacity: 1;
          /* Показываем подменю при ховере */
          visibility: visible;
          -webkit-transition-property: opacity, visibility;
          transition-property: opacity, visibility;
          /* Задаем какие свойства анимировать */
          -webkit-transition-duration: .25s, .25s;
          transition-duration: .25s, .25s;
          /* Задаем продолжительность анимации для каждого свойства */
          -webkit-transition-delay: .40s, .40s;
          transition-delay: .40s, .40s;
          /* Задаем задержку анимации для каждого свойства */
          overflow-y: scroll;
          max-height: 70vh;
          z-index: 5;
        }
        position: absolute;
        top: 0;
        margin-top: 30px;
        width: 200px;
        right: 0;
        background-color: rgba(0,0,0,.5);
        background-color: #fff;
        display: block;
        visibility: hidden;
        opacity: 0;
        margin-left: auto;
        z-index: -1;


        .megamenu {
          padding: 20px;
        }

        p {
          font-size: 18px;
          font-weight: 600;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          color: #000;
          text-decoration: none;
          transition: color .3s;
          border-bottom: 1px solid rgba(0,0,0,.5);
          padding-bottom: 10px;


        }

        li a {
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #5c5c5c;
          display: inline-block;
          width: 100%;

          &:hover {
            color: $header-top-bgcolor;
          }
        }
      }
    }
  }
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 1600px;
  margin: auto;
  &__item {
    flex-grow: 1;
    &:hover {
      background-color: $main-color-aqua;
      text-decoration: none;
      .sub-navigation-list__wrapper {
        display: block;
        left: 0;
        opacity: 1;
        /* Показываем подменю при ховере */
        visibility: visible;
        transition-property: opacity, visibility;
        /* Задаем какие свойства анимировать */
        transition-duration: .25s, .25s;
        /* Задаем продолжительность анимации для каждого свойства */
        transition-delay: .40s, .40s;
        /* Задаем задержку анимации для каждого свойства */
        overflow-y: scroll;
        max-height: 70vh;
        .sub-navigation-list {
          width: 100%;
          max-width: 370px;
        }
        .third-level-menu__wrapper {
          right: 0;
        }
      }
    }
    .navigation-list__link {
      display: block;
      padding: 6px 0;
      font-size: 15px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
      text-align: center;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }

    &:nth-child(1),&:nth-last-child(1){

      .sub-navigation-list__wrapper {
        max-height: 400px;
        overflow: auto;
        min-height: auto;
        max-width: 740px;
        left: 71px;
        right: inherit;
        columns: inherit;

      }
      .megamenu {
        padding: 40px 40px 25px;
        display: flex;
        .onelevel {

          &:nth-child(1){
            border-right: 1px solid #DADADA;
          }
          &:nth-child(2) {
            padding-left: 40px;
          }


        }
        .twolevwel {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: 255px;

          li {
            min-width: 184px;
            padding-right: 10px;
          }
        }

      }
      .sub-sub-navigation-list__all{
          color: #6004BA!important;
          padding-left: 20px;
        font-weight: bold;
        display: inline-block;
        width: 100%;
      }
    }
    &:nth-last-child(1) {
      position: relative;
      .lastChild {
        left: inherit;
        right: 0;
        top: 0;
      }
    }

    .lastChild {
      max-width: 550px!important;
      .sub-navigation-list__wrapper {
        max-height: 400px;
        overflow: auto;
        min-height: auto;
        max-width: 740px;
        left: 71px;
        right: inherit;
        columns: inherit;
      }
      .sub-sub-navigation-list__link {
        color: #000!important;
        font-size: 16px!important;
        font-weight: 600!important;
      }
      .megamenu {
        padding: 40px 40px 25px;
        display: flex;
        justify-content: flex-start;
        .onelevel {
          &:nth-child(2){
            //padding-left:0;
          }

        }
        .twolevwel, .threelevwel{
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-height: 255px;

          li {
            min-width: 184px;
            padding-right: 10px;
          }
        }
        .threelevwel{
          padding-left: 20px;
          max-height: 154px!important;
          flex-wrap: nowrap!important;
          overflow: hidden;
        }

      }

    }

  }

  .sub-navigation-list {
    background-color: $main-color-aqua;
    min-height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    height: 100%;
    &__link {
      display: block;
      font-size: 16px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      padding: 12px 31px;
      &:hover {
        color: $main-color-purple;
        background-color: #fff;
        text-decoration: none;
      }
    }
    &__wrapper {
      background-color: #F4F7F6;
      display: block;
      visibility: hidden;
      opacity: 0;
      width: 93vw;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      top: 114px;
      z-index: -1;
    }
    .sub-sub-navigation-list {
      &__link {
        display: block;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        padding: 12px 49px;
        color: #ffffff;
        &:hover {
          color: $main-color-purple;
          background-color: #fff;
          text-decoration: none;
        }
      }
      &__item {
        &:hover {
          .third-level-menu__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
            width: 250%;
          }
        }
      }
    }
  }
  .third-level-menu {
    &__wrapper {
      display: none;
      position: absolute;
      left: 100%;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      //padding: 12px 38px;
      padding: 12px;
      overflow-y: scroll;
    }
    &__images {
      width: 100%;
      text-align: center;
      img {
        margin: 0 1rem;
        display: inline-block;
      }
    }
    &__item {

    }
    &__link {
      display: block;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      padding: 0.5rem 0;
      &:hover {
        color: $main-color-purple;
        text-decoration: none;
      }
      img {
        max-width: 300px;
      }
    }
  }

  .fourth-level-menu {
    padding-left: 25px;
    &__item {
      .fourth-level-menu__link {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    &__link {
      display: block;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      padding-bottom: 0.5rem;
      &:hover {
        color: $main-color-purple;
        text-decoration: none;
      }
    }
  }
}
.topmenu-close {
  background: transparent url(../../images/close-icon.svg) no-repeat 0 0/contain;
  width: 18px;
  height: 18px;
}

.menu-carret {
  width: 45px;
  height: 45px;
  display: none;
  background: transparent url(../../images/Triangle.svg) no-repeat center center/15px 15px;
  position: absolute;
  right: 15px;
  top: 0;
}

.full-width-slider {
  background-color: $main-color-aqua;
  margin-top: 116px;
  overflow: hidden;
  max-height: 500px;
  .owl-theme{
    .owl-dots {
      top: 440px !important;
    }
  }
  .item {
    //padding: 0 170px;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      min-height: 500px;
    }
    .item-help-wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      height: 100%;
    }
    &__text {
      flex: 0 0 50%;
    }
    &__title {
      @include slider-title;
      text-transform: uppercase;
      padding: 96px 0 0;
    }
    &__image {
      display: none;
    }
    &__btn {
      position: absolute;
      left: 170px;
      bottom: 148px;
      width: 251px;
      height: 45px;
      .item__link {
        @include header-text-style;
        background-color: #fff;
        color: $main-color-aqua;
        display: block;
        line-height: 45px;
        height: 100%;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
      }
    }
    &__pictures {
      background: url("../../images/group-copy-5.png") no-repeat;
      background-position-x: 100%;
      background-position-y: 70%;
      flex: 0 0 50%;
      position: relative;
      max-height: 530px;
      img {
        position: absolute;
        left: -30px;
        top: 10%;
        width: auto;
        transform-style: inherit;
      }
    }
  }

}

.burger {
  cursor: pointer;
  display: none;
}

.navigation {
  .schedule {
    display: none;
  }
  .header-main__telephone {
    display: none;
  }
}

.adaptive-menu {
  height: 0;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: scroll;
  &__open {
    background: #360060;
    display: block;
    opacity: 1;
    top: 164px;
    height: 100%;
    max-height: calc(100% - 135px);
  }
  &__item {
    padding: 0.75rem 1rem;
    position: relative;
  }
  &__link {
    display: inline-block;
    font-size: 15px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
  }

  .sub-sub-navigation-list__wrapper,
  .third-level-menu__wrapper,
  .fourth-level-menu {
    display: none;
    padding-left: 12.5px;
  }

  .sub-navigation-list__wrapper {
    display: none;
    padding-left: 12.5px;
    .sub-navigation-list {
      list-style: circle;
    }
    .sub-navigation-list__link {
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: yellowgreen;
    }
  }
  .third-level-menu__wrapper {
    list-style: square;
    .third-level-menu__link {
      color: #ffffff;
      font-size: 13px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
    }
  }
  .fourth-level-menu {
    list-style: square;
    .fourth-level-menu__link {
      color: #fff;
      font-size: 13px;
      font-weight: 100;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.2;
      letter-spacing: normal;
      text-align: left;
    }
  }
  .sub-sub-navigation-list__wrapper {
    .sub-sub-navigation-list {
      list-style: square;
    }
    .sub-sub-navigation-list__link {
      color: #fff;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
    }
  }

  .adaptive-menu__item.sub__open {
    .sub-navigation-list__wrapper {
      display: block;
    }
    .sub-sub-navigation-list__wrapper {
      display: block;
    }
    .third-level-menu__wrapper {
      display: block;
    }
    .fourth-level-menu {
      display: block;
    }
  }
}

.search-icon-adaptive {
  display: none;
}

.custommenu-banners {
  display: table;
  position: absolute;
  right: 0;
  top: 0;
  width: 320px;

  img {
    width: 100%;
    max-width: 300px;
    display: table;
    margin: 0 auto;
  }
}

.megamenu {
  padding: 30px 30px 40px 30px;
  box-sizing: border-box;
  margin: 0;
  position: relative;
  overflow: hidden;
  columns: 5 255px;
  column-gap: 30px;

  .onelevel{
    a {
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
      text-decoration: none;
      &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
        color: #000;
      }
    }

    .twolevwel {
      padding: 0 0 0 20px;
      margin: 10px 0 9px 0;
      li{
        a{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.43;
          letter-spacing: normal;
          color: #5c5c5c;
          &:active, &:visited, &:focus {
            text-decoration: none;
            color: #5C5C5C;
          }
          &:hover {
            color: #6004ba;
            text-decoration: none;
          }
        }
      }
    }

    .megamenu-seeall {
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #6004ba;
      position: absolute;
      bottom: 10px;
      right: 100px;
      &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
        color: #6004ba;
      }
    }
  }
}

.custommenu {
  margin-top: 27px;
  max-height: 70vh;
  display: table;
  box-sizing: border-box;
  width: calc(100%);

  .third-level-menu__item {
    display: table;
    float: left;
    width: 30%;
    break-inside: avoid;
    margin-bottom: 16px;
    &:last-of-type {
      margin-bottom: 0;
    }
    a {
      font-size: 16px;
      font-weight: 700;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }
  }
}

.searchgoods-parent {
  position: relative;
  .searchgoods-wrap {
    position: absolute;
    width: 93vw;
    left: 0;
    top: 30px;
    display: none;
    height: 500px;
    background: #fff;
    padding: 27px 31px;
  }
}
.searchgoods-parent:hover .searchgoods-wrap {
  display: table;
}

.mobile{
  display: none!important;
}















