@import '../styles/variables';
@import '../styles/mixins';

.exclusive {
  background-color: #fff;
  border-bottom: solid 2px #e7e7e7;
  padding-top: 44px;
  &__title {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.42;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    padding: 1rem;
    text-transform: uppercase;
  }
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 126px;
    max-width: 1024px;
    margin: 60px auto;
  }
  &__row {
    flex: 1 0 calc(100%/3);
    text-align: center;
    &:nth-of-type(n+4) {
      padding-top: 60px;
    }
  }
}
.blog {
  background: #fff;
  padding-top: 44px;
  &-wrapper {
    max-width: 1014px;
    margin: auto;
  }
  &__title {
    font-family: 'ProximaNova', sans-serif;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #6004ba;
    text-transform: uppercase;
    padding: 39px;
    padding-left: 74px;
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__image {
    flex: 0 0 50%;
    img {
      display: block;
      width: 100%;
    }
  }
  &__description {
    flex: 0 0 50%;
    padding-left: 53px;
    position: relative;
    .tags {
      left: 53px;
    }
  }
  &__text {
    font-family: 'ProximaNova', sans-serif;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 42px;
    letter-spacing: -1px;
    text-align: left;
    color: #000;
    padding-top: 35px;
  }
  &__auth {
    padding: 1rem 0;
  }
  &__date {
    background: url(../../images/circle.svg) no-repeat 0 center;
    display: inline-block;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    padding: 2px 0 2px 22.5px;
    //margin-right: 13px;
  }
  &__author {
    display: inline-block;
    font-family: 'ProximaNova', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  &__read-more {
    clear: both;
    display: flex;
    align-items: center;
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: -1px;
    text-align: left;
    color: #6004ba;
    margin-top: 35px;
    &:hover {
      color: #6004ba;
      text-decoration: none;
    }
    .fa {
      margin-left: 10px;
    }

    .blogarrow {
      margin: 3px 0 0 5px;
    }
  }

  .auth-date {
    padding-right: 13px;
    padding-left: 28px;
    line-height: 16px;
  }

  .auth-author {
    padding-left: 10px;
  }
}

.contact-form {
  max-width: 1014px;
  margin: auto;
  padding-top: 66px;
  position: relative;
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
    content: '';
    border: 20px solid transparent;
    border-top: 20px solid #fff;
  }
  &__title {
    font-size: 47px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
  }
  &__text {
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    padding: 10px 0 20px;
  }
  &__row {
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__input {
    border: 1px solid $main-color-purple;
    width: 339px;
    height: 57px;
    margin-right: 10px;
    padding: 7px 16px;
  }
  &__button {
    background-color: $main-color-purple;
    display: inline-block;
    font-family: 'ProximaNova', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 57px;
    letter-spacing: -1px;
    text-align: center;
    color: #fff;
    height: 57px;
    padding: 0 30px;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
  }
}
.consulting {
  text-align: center;
  clear: both;
  &__title {
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    margin-top: 80px;
    margin-bottom: 35px;
  }
  &__url {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 112px;
    .telegram__link {
      height: 100%;
      background-color: #fff;
      color: #fff;
      position: relative;
      &:hover {
        color: #fff;
        text-decoration: none;
      }
    }
    .facebook__link {
      background-color: #fff;
      color: #1c8dfb;
      &:hover {
        color: #1c8dfb;
        text-decoration: none;
      }
    }
    .chat__link {
      background-color: #fff;
      color: #414243;
      &:hover {
        color: #414243;
        text-decoration: none;
      }
    }
  }
  &__link {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 0 0 33%;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    img, svg {
      margin-right: 15px;
    }
    &:hover, &:active, &:focus {
      text-decoration: none;
      outline: none;
    }
  }

  .telegram__link {
    span {
      color: #2DA5D9;
    }
    &:hover {
      background: #fff url(../../images/telegram-hover.svg) no-repeat center/100% 100%;
      span {
        color: #fff;
      }
    }
  }

  .facebook__link{
    span {
      color: #1C8DFB;
    }
    &:hover {
      background: #fff url(../../images/facebook-hover.svg) no-repeat center/100% 100%;
      span {
        color: #fff;
      }
    }
  }

  .chat__link{
    span {
      color: #414243;
    }
    &:hover {
      background: #fff url(../../images/jivosite-hover.svg) no-repeat center/100% 100%;
      span {
        color: #fff;
      }
    }
  }

}

.main-page-form {
  input[type="text"] {
     // background: red;

    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      font-weight: 900;
      font-size: 16px;
      color: #000;
      opacity: 1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      font-weight: 900;
      font-size: 16px;
      color: #000;
      opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      font-weight: 900;
      font-size: 16px;
      color: #000;
      opacity: 1;
    }
    &:-moz-placeholder { /* Firefox 18- */
      font-weight: 900;
      font-size: 16px;
      color: #000;
      opacity: 1;
    }
  }
}

.body-main #mlb2-983096.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
  height: 57px !important;
  box-sizing: border-box !important;
  font-family: 'ProximaNova', sans-serif !important;
  font-weight: 900 !important;
  color: #000;
}
.body-main #mlb2-983096.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
  height: 57px !important;
  box-sizing: border-box !important;
  font-family: 'ProximaNova', sans-serif !important;
  font-weight: 900 !important;
}
.body-main #mlb2-983096.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:hover {
  background: #6004ba !important;
}
.body-main .form-control::-webkit-input-placeholder {
  font-weight: 900 !important;
  font-size: 16px !important;
  color: #000 !important;
  opacity: 1;
}

.body-main .form-control::-moz-placeholder {
  font-weight: 900 !important;
  font-size: 16px !important;
  color: #000 !important;
  opacity: 1;
}

.body-main .form-control:-ms-input-placeholder {
  font-weight: 900 !important;
  font-size: 16px !important;
  color: #000 !important;
  opacity: 1;
}

.body-main .form-control:-moz-placeholder {
  font-weight: 900 !important;
  font-size: 16px !important;
  color: #000 !important;
  opacity: 1;
}

.owl-carousel{

  .owl-stage {
    display: -ms-flexbox;
    display: flex;
  }

  .owl-item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
  }

  .caption {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .flex-text {
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .thumbnail {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 15px;
  }
}

.customflex-el {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.product__best {
  background-color: #00cac5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 3px;
  background-color: #FE7700;
  display: block !important;
  float: right;

  &:before {
    position: absolute;
    left: -21px;
    top: 0;
    content: '';
    display: table;
    clear: both;
    border: 13px solid transparent;
    border-right: 8px solid #00cac5;
    content: none;
  }
}
.product__super {
  background-color: #00cac5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 3px;
  background-color: #ee0b0b;
  display: block !important;
  float: right;

  &:before {
    position: absolute;
    left: -21px;
    top: 0;
    content: '';
    display: table;
    clear: both;
    border: 13px solid transparent;
    border-right: 8px solid #00cac5;
    content: none;
  }
}

.product__hit {
  background-color: #00cac5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 3px;
  background-color: #6004BA;
  display: block !important;
  float: right;

  &:before {
    position: absolute;
    left: -21px;
    top: 0;
    content: '';
    display: table;
    clear: both;
    border: 13px solid transparent;
    border-right: 8px solid #00cac5;
    content: none;
  }
}

.product__new {
  background-color: #00cac5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  display: inline-block;
  position: relative;
  padding: 3px;
  background-color: #EE0058;
  display: block !important;
  float: right;

  &:before {
    position: absolute;
    left: -21px;
    top: 0;
    content: '';
    display: table;
    clear: both;
    border: 13px solid transparent;
    border-right: 8px solid #00cac5;
    content: none;
  }
}

.product__notavailable {
  background-color: #00cac5;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-align: center;
  color: #000;
  display: inline-block;
  position: relative;
  padding: 3px;
  background-color: #fff;
  display: block !important;
  float: right;
  border: solid 1px;
  padding: 0 10px;

  &:before {
    position: absolute;
    left: -21px;
    top: 0;
    content: '';
    display: table;
    clear: both;
    border: 13px solid transparent;
    border-right: 8px solid #00cac5;
    content: none;
  }
}





.tooltip.top .tooltip-inner {
  min-height: 100px;
  overflow: auto;
}

#feedback-window{
  .modal-dialog {
    margin-top: 20px;
  }
  .modal-content {
    padding: 71px 100px 76px 100px;
    box-sizing: border-box;
    .close {
      font-size: 45px;
      right: 15px;
      top: 10px;
    }
  }
  .modal-title {
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 49px;
    letter-spacing: -1px;
    text-align: left;
    color: #000;
    margin-bottom: 10px;
  }
  span {
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .default-btn {
    margin-top: 41px;
  }
}
.modal-feedback {
  display: table !important;
  padding: 0;
  width: 100%;
  &__row {
    width: 100%;
    display: table;
  }
  #feedbackform__textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 28px 19px;
    min-height: 190px;
    //display: table;
    resize: vertical;
    margin-top: 17px;
    margin-bottom: 27px;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 21px;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 21px;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      opacity: 1;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 21px;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      opacity: 1;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 21px;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      opacity: 1;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      font-size: 18px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 21px;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      opacity: 1;
    }
    &:focus {
      border: 1px solid #6004BA;
    }
  }
}

.some-product-thumbnails-slider .some-product__item .item__image {
  max-width: 349px;
  max-height: 342px;
  margin: 70px auto auto auto;
  display: block;
  object-fit: contain;
}

.owl-thumbs {
  margin-top: 10px;
}

.radio-toolbar {
  margin-bottom: 43px;
  margin-top: 15px;
  input[type="radio"] {
    display: none;
  }
  label {
    display: inline-block;
    cursor: pointer;
    width: 43px;
    height: 41px;
    margin-right: 0;
  }
  input[type="radio"]:checked + label {
    width: 43px;
    height: 41px;
  }
}
.fullstar {
  background: transparent url(../../images/star-big-fill.png) no-repeat scroll center center;
}
.emptystar {
  background: transparent url(../../images/star-big.png) no-repeat scroll center center;
}

.thanksblock{
  h2 {
    display: table;
    margin: 0 auto;
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -1px;
    color: #000;
    padding-left: 63px;
    background: transparent url(../../images/modal-yes.svg) no-repeat scroll left center;
  }
  p {
    display: table;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #000;
  }
}
#TableTr{
  .tr-minimized tr {
    display: none;
    &:nth-child(-n+17) {
      display: table-row;
    }
    td {
      min-width: 300px;
      &:first-of-type {
        min-width: 300px;
        white-space: normal;
      }
    }
  }
  tr td {
    min-width: 300px;
    &:first-of-type {
      min-width: 300px;
      white-space: normal;
    }
  }
}

#all-tr-maximize {
  cursor: pointer;
  span {
    display: table;
    margin: 15px auto;
  }
}







