@media screen and (max-width: 1920px) {
  .table-striped tr td {
    white-space: normal !important;
  }
  .full-width-slider {
    .item {
      &__title {
        font-size: 60px;
      }
    }
  }
  .cart-page__content .table.cart-page__cart td {
    white-space: normal;
  }
  .cart-page__content .table.cart-page__cart .cart-summ {
    white-space: nowrap ;
  }
}
@media screen and (max-width: 1800px) {
  .consulting {
    &__url {
      height: 100px;
      .active {
        background-size: 99%;
      }
    }
    &__link {
      height: 100px;
    }
  }
}

@media screen and (max-width: 1550px) {
  .sidebar {
    padding: 0 15px;
  }

  .some-product {
    &__special {
      .add-to-cart {
        right: 0;
      }
    }
  }
}

@media screen and (max-width: 1800px) and (min-width: 1401px) {
  .blog-slider, .receipts {
    &__description {
      font-size: 18px;
    }
    &__item {
      padding: 15px;
    }
  }

  .auth {
    display: flex;
    align-items: center;
    &-author, &-date {
      flex-wrap: nowrap;
      font-size: 11px;
      height: 20px;
      display: flex;
      align-items: center;
    }
    &-author {
      padding-left: 5px;
    }
  }
}

@media screen and (max-width: 1600px) {
  .navigation-list {
    max-width: 1350px;
  }

  .full-width-slider {
    .item {
      &__pictures {
        //background-size: contain;
        padding-left: 50px;
      }
      &__title {
        font-size: 54px;
      }
    }
  }

  .cols-seven {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 184px 184px 184px 184px;
    grid-auto-rows: minmax(184px, auto);
    .grid-itemblock .product-top .product__sales {
      right: 50%;
    }
  }
}

@media screen and (max-width: 1564px) {
  .megamenu {
    padding: 25px 25px 0 25px;
    columns: 5 225px;
    column-gap: 25px;
  }
}

@media screen and (max-width: 1550px) {
  .account-featured {
    .search-page {
      &__grid {
        .slider-category {
          &__item {
            flex: 0 0 20%;
            max-width: 20%;
          }
        }
      }
    }
  }

  .cols-seven .grid-itemblock .product-top .product__sales {
    right: 40%;
  }

  .full-width-slider {
    max-height: 420px;
    .item img {
      min-height: 420px;
    }
    .owl-theme .owl-dots {
      top: 440px !important;
    }
  }

  .cols-five {
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 270px 270px 270px;
    grid-auto-rows: minmax(252px, auto);
  }
}
@media screen and (max-width: 1418px) {
  .some-product__buttons input {
    width: 260px;
  }
}

@media screen and (max-width: 1400px) {
  .header {
    &-top {
      &__language {
        flex: 0 0 30%;
        max-width: 30%;
      }
    }
    &-main {
      &__telephone {
        font-size: 19px;
      }
    }
  }

  .full-width-slider {
    .item {
      &__picture {
        max-height: 400px;
      }
      &__btn {
        left: 50px;
      }
    }
    .owl-theme .owl-dots {
      left: 50px;
    }
  }

  .navigation-list {
    max-width: 1200px;
  }

  .slider-category {
    &__content {
      padding: 0 50px;
    }
    .product {
      &__description, &__rating, &__price {
        //padding: 0 12.5px;
      }
    }
  }

  .search-page {
    padding-left: 50px;
    padding-right: 50px;
  }

  .blog-slider {
    &__content {
      padding: 0 50px;
    }
    &__description {
      font-size: 16px;
      margin-top: 10px;
      min-height: 65px;
    }
  }

  .receipts {
    &__content {
      padding: 0 50px;
    }
    &__description {
      font-size: 16px;
      margin-top: 10px;
      min-height: 65px;
    }
  }

  .auth {
    display: flex;
    align-items: center;
    &-author, &-date {
      flex-wrap: nowrap;
      font-size: 11px;
      height: 20px;
      display: flex;
      align-items: center;
    }
    &-author {
      padding-left: 5px;
    }
  }

  .consulting {
    &__url {
      height: 80px;
    }
    &__link {
      height: 80px;
    }
    .telegram__link, .facebook__link, .chat__link {
      background-color: #fff;
    }
  }

  .some-product {
    &__status {
      padding-right: 10px;
    }
  }

  .article-full-width {
    .item {
      &__title {
        font-size: 55px;
      }
    }
  }

  .full-width-slider {
    max-height: 400px;
    .item img {
      min-height: 400px;
    }
    .owl-theme .owl-dots {
      top: 440px !important;
    }
  }

  .custommenu {
    width: calc(100% - 200px);
    &-banners {
      width: 200px;
      margin-right: 15px;
    }
  }

  .navigation-list .third-level-menu__link img {
    max-width: 190px;
  }

  .megamenu {
    columns: 5 200px;
  }

  .some-product__buttons {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1366px) {
  .full-width-slider {
    max-height: 380px;
    .item img {
      min-height: 380px;
    }
    .owl-theme .owl-dots {
      top: 440px !important;
    }
  }
  .some-product__buttons input {
    width: 250px;
  }


}

@media screen and (max-width: 1300px) {
  .some-product__buttons input {
    width: 300px;
  }
  .categories-page {
    .search-page {
      &__grid {
        max-width: 100%;
        padding-right: 15px;
      }
    }
  }

  //цена у товара, product.html
  .special__price-current {
    font-size: 24px;
    white-space: nowrap;
  }
  //цена у товара, product.html

  .account-subscribe {
    &__info {
      .table {
        &__product {
          &-info {
            p {
              font-size: 14px;
            }
          }
        }
        td {
          font-size: 14px;
        }
      }
    }
    &__status {
      .checkbox-wrap {
        font-size: 14px;
      }
    }
    &__repeat {
      &-link {
        width: auto;
        padding-left: 25px;
        padding-right: 25px;
      }
    }
    &-wrapper {
      justify-content: space-between;
    }
    &__viewport {
      flex: 0 0 70%;
    }
  }

  .some-product-help-block {
    flex-wrap: wrap-reverse;
  }
  .some-product {
    &__status {
      padding-right: 0;
      padding-top: 25px;
      flex: 1 0 100%;
    }
    &__price {
      flex: 1 0 100%;
    }
    &__title {
      padding-right: 0;
    }
  }

  .blog-header {
    &__container {
      width: 100%;
      padding: 10px 25px;
    }
  }
  .blog-popularity {
    max-width: 100%;
    padding: 10px 25px;
  }
  .blog-search {
    &__input {
      max-width: 100%;
      padding-left: 25px;
      padding-right: 25px;
    }
    &__icon {
      right: 25px;
    }
  }
  .blog-tags {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .blog-grid {
    max-width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }
  .advertise {
    img {
      width: 100%;
    }
  }
  .cols-seven {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 184px 184px 184px;
    grid-auto-rows: minmax(184px, auto);
  }

  .megamenu {
    padding: 20px 20px 0 20px;
    columns: 5 200px;
    column-gap: 20px;
  }
  .noslider-container {
    flex-wrap: wrap;
    .product-help-block {
      flex-basis: unset;
      width: 350px;
    }
  }

}

@media screen and (max-width: 1250px) {
  .header {
    &-top {
      &__language {
        padding-left: 15px;
      }
      &__actions {
        padding-right: 15px;
      }
    }
    &-main {
      &__telephones {
        flex: 0 1 auto;
        padding-left: 5px;
        padding-right: 5px;
      }
      &__telephone {
        font-size: 14px;
      }
      &__search {
        flex: 1 0 auto;
        padding-left: 5px;
        padding-right: 5px;
      }
      &__content {
        flex: 1 0 auto;
      }
      &__information {
        flex: 0 1 auto;
        flex-wrap: nowrap;
        padding-right: 15px;
      }
      &__autorization {
        padding-left: 45px;
        background-position: 17px 0;
      }
      &__logo {
        padding-left: 15px;
      }
    }
  }
  .account-list {
    padding-right: 0;
  }
  .order-page-last_full-width {
    padding-left: 15px;
    padding-right: 15px;
  }

  .full-width-slider {
    max-height: 300px;
    .item img {
      min-height: 300px;
    }
    .owl-theme .owl-dots {
      top: 240px !important;
    }
  }

  .cols-five {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 270px 270px 270px;
    grid-auto-rows: minmax(252px, auto);
  }
}

@media screen and (max-width: 1207px) {
  .megamenu {
    padding: 20px 20px 0 20px;
    columns: 5 190px;
    column-gap: 20px;
  }
}

@media screen and (max-width: 1200px) {
  .forgot-password {
    background: url("../../images/forgot2.jpg") no-repeat center 114px;
    -webkit-background-size: 100%;
    background-size: 100%;
    height: 625px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__form {
      height: auto;
      width: 80%;
      margin: 0 auto;
    }
  }

  .reset-password {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
    &__text {
      line-height: 1.2;
      max-width: 85%;
      padding: 1rem;
      text-align: left;
    }
  }

  .categories-page {
    .search-page {
      &__grid {
        .slider-category {
          &__item {
            flex: 0 0 32%;
            max-width: 32%;
          }
        }
      }
    }
  }
  .sidebar {
    .form-group {
      &__limits {
        input {
          max-width: 50px;
        }
      }
    }
  }

  .navigation-list {
    max-width: 992px;
  }
  .account-list {
    padding-left: 0;
  }
  .footer {
    &__list {
      padding: 50px 15px;
    }
  }

  .footer {
    &__list {
      max-width: 992px;
    }
  }

  .full-width-slider {
    .item {
      &__title {
        font-size: 42px;
      }
      &__pictures {
        background: none;
        img {
          left: auto;
          right: 25%;
        }
      }
    }
  }
  .exclusive {
    &__images {
      max-width: 100%;
    }
  }

  .blog-wrapper {
    max-width: 992px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .bestsellers {
    &__url {
      max-width: 100%;
    }
  }

  .blog-popularity {
    &__image {
      img {
        height: 100%;
      }
    }
  }

  .account-featured {
    .search-page {
      &__grid {
        .slider-category {
          &__item {
            flex: 0 0 30%;
            max-width: 30%;
          }
        }
      }
    }
  }

  .search-page {
    &__grid {
      .slider-category {
        &__item {
          flex: 0 0 32%;
          max-width: 32%;
        }
      }
    }
  }

  .megamenu {
    padding: 20px 20px 0 20px;
    columns: 5 180px;
    column-gap: 20px;
  }

  .some-product__bestseller, .some-product__hit, some-product__newgoods, some-product__notavailable, .some-product__product__super {
    left: 10px;
  }
}

@media screen and (max-width: 1100px) {
  .megamenu {
    padding: 15px 20px 0 15px;
    columns: 5 170px;
    column-gap: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .some-product-thumbnails-slider,
  .some-product__info {
    flex: 0 0 100%;
    padding: 0 25px;
  }
  .some-product {
    &__info {
      margin-top: 25px;
    }
    &__price {
      overflow: hidden;
    }
    &__product-bought {
      max-width: 100%;
    }
  }

  .product-info-full{
    .description-product{
      padding: 10px 10px 70px 30px;
    }

    .compose-product {
      padding: 10px 30px 70px 10px;
    }
  }

  #tabs-container {
    max-width: 100%;
  }

  .some-product__bestseller, .some-product__hit, some-product__newgoods, some-product__notavailable, .some-product__product__super {
    left: 60px;
  }
}
@media screen and (max-width: 992px) {
  .forgot-password {
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 164px;
    height: 770px;
    &__left, &__right {
      flex: 0 0 100%;
      border: none;
      text-align: center;
    }
    &__title {
      text-align: center;
    }
    &__right {
      padding-top: 0;
      .forgot-password__link {
        display: flex;
        justify-content: center;
        margin: 1rem auto;
      }
    }
    &__row {
      margin: auto;
    }
  }

  .blog-header {
    &__nav {
      display: none;
    }
  }

  .blog-adaptive {
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
    z-index: 10;
    height: auto;
    &__list {
      height: auto;
      display: none;
    }
    &__icon {
      display: none;
    }
    &__burger {
      display: block;
    }
    .open {
      background: rgba(0,0,0,0.5);
      display: block;
      position: absolute;
      left: 0;
      top: 100%;
    }
  }

  .account {
    padding-top: 164px;
    &__page {
      padding-left: 15px;
    }
    &__title {
      font-size: 24px;
      max-width: 80%;
    }
    &__info {
      .table {
        td {
          font-size: 14px;
        }
      }
    }
    &-list {
      &__link {
        font-size: 14px;
      }
    }
  }
  .account-subscribe {
    &-wrapper {
      overflow-x: scroll;
    }
    &__content {
      max-width: 100%;
    }
    &__viewport {
      padding-left: 5px;
    }
    &__status {
      padding-left: 5px;
      padding-right: 5px;
      .checkbox-wrap {
        font-size: 11px;
      }
    }
    &__info {
      .table {
        &__product {
          &-info {
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
    &__order-info {
      overflow-y: hidden;
      padding-left: 50px;
      padding-right: 5px;
      span {
        font-size: 11px;
      }
    }
    &__lost {
      &-review {
        font-size: 12px;
      }
    }
    &__repeat {
      &-link {
        padding-left: 0;
        padding-right: 0;
        width: 100%;
        height: auto;
        font-size: 12px;
      }
    }
  }

  .breadcrumbs {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 164px;
    font-size: 10px;
  }

  .blog-popularity {
    &__title {
      a {
        font-size: 22px;
      }
    }
  }

  .consulting {
    &__url {
      height: auto;
      .consulting__link {
        height: 80px;
      }
    }
    &__link {
      font-size: 18px;
      flex: 0 0 100%;
    }
  }
  .header {
    &-top {
      flex-wrap: wrap;
      padding-left: 10px;
      padding-right: 10px;
      &__country, &__lang {
        margin-right: 20px;
      }
      &__language, &__actions {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 6px;
        justify-content: flex-start;
      }
    }
    &-main {
      .header-main__content-wrap {
        justify-content: center;
      }
      &__logo {
        img {
          transform: none;
        }
      }
      &__search {
        padding: 0;
        flex: 0 0 60%;
        max-width: 60%;
      }
      &__telephones {
        .schedule {
          display: none;
        }
        .header-main__telephone {
          display: none;
        }
        .info-img {
          display: none;
        }
      }
    }
  }
  .menu-carret {
    display: block;
  }
  .full-width-slider {
    padding-top: 164px;
  }
  .navigation {
    min-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    .info-img {
      display: block;
      margin-right: 10px;
      margin-left: 20px;
    }
    .schedule {
      color: #f3f7f6;
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      &__text {
        display: inline-block;
        padding-top: 5px;
      }
    }
    &-list {
      display: none;
    }
    .header_dropdown_phone{
      cursor: pointer;
      margin-right: 15px;
      background: white;
      border-radius: 2px;
      color: #6004ba;
      ul{
        width: 100%;
        font-size: 22px;
        text-align: center;
        padding-top: 0;
        padding-bottom: 0;
        font-weight: 900;
        li:hover, li:active, li:focus{
          background-color: #6004ba;
          color: white;
        }
      }
      .header-main__telephone {
        background-color: transparent;
        display: block;
        font-size: 22px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
        .phone_number, .caret{
          color: #6004ba;
        }
      }
    }


  }

  .burger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      color: #fff;
      font-size: 20px;
    }
  }

  .account {
    &__info {
      .table {
        td {
          img {
            max-width: 25px;
          }
          .card {
            font-size: 12px;
            white-space: nowrap;
          }
        }
      }
    }
    &__link {
      margin-right: 0;
      a {
        font-size: 12px;
      }
    }
  }

  .some-product {
    &__special-wrapper {
      justify-content: space-between;
    }
  }

  .adaptive-menu {
    .sub-navigation-list__wrapper {
      padding-left: 64px;
      background-color: #490082;
      list-style: none;
      .sub-navigation-list__link {
        list-style: none;
        color: #fff;
        font-size: 16px;
        font-weight: 900;
      }
    }
    &__list{
      li {
        list-style: none;
      }
      .adaptive-menu__item {
        padding: 0;
        line-height: 45px;
        &:last-of-type {
          margin-bottom: 0;
        }
        .adaptive-menu__link {
          padding: 0 0 0 41px;
          color: #fff;
          &:hover, &:active, &:visited, &:focus {
            color: #fff;
            text-decoration: underline;
          }
        }
        .sub-sub-navigation-list__all {
          color: #fff;
          font-weight: bold;
        }
      }
    }
  }

  .cols-seven {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 184px 184px;
    grid-auto-rows: minmax(184px, auto);
  }

  .full-width-slider {
    padding-top: 0;
    //max-height: 270px;
    background: transparent;
    height: auto;
    .item img {
      min-height: 270px;
      height: auto;
    }
  }
}

@media screen and (max-width: 991px) {
  .some-product__bestseller, .some-product__hit, .some-product__newgoods, .some-product__notavailable, .some-product__product__super {
    left: 60px;
  }
}

@media screen and (max-width: 1300px) {

  .body-order .order-header__container {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .body-order .order-page__wrapper {
    padding: 0 15px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1199px) {
  .cart-page__left {
    width: 100%;
    display: table;
    margin-top: 10px;
  }

  .cart-page__textarea {
    width: 100%;
  }

  .cart-page__right .cart-page__back {
    margin-top: 20px;
  }
}

@media screen and (max-width: 1100px) {
  .tabs-menu {
    margin-top: 20px;
  }

  .order-page__cart {
    padding-top: 210px;
  }
  .tabs-container.r-checkout {
    width: 90%;
  }

  .order-page {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .order-page .empty {
    margin-bottom: 25px;
  }

  .order-page__tabs {
    padding: 0;
  }

  .cols-five {
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 270px 270px 270px;
    grid-auto-rows: minmax(252px, auto);
  }
}

@media screen and (max-width: 1001px) {
  .director-photo {
    display: none;
  }

  .order-page-triangle::before {
    content: none;
  }

  .start-modal .modal-dialog {
    margin-top: 50px;
  }
}

@media screen and (max-width: 992px) {
  .body-order .header-main__telephones .schedule {
    display: block;
  }

  #tabs-container{
    width: 90%;
  }

  .body-order .header-main__telephones .header-main__telephone {
    display: block;
  }

  .cart-page {
    padding-top: 168px;
  }
  .full-width-slider {
    margin-top: 166px;
  }

  .cols-five {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 270px 270px;
    grid-auto-rows: minmax(252px, auto);
  }
}

@media screen and (max-width: 991px) {
  .slider-category .product__buttons {
    display: block;
  }

  .slider-category .product {
    padding-bottom: 0px;
    margin-bottom: 18px;
    background: #fff;
    border: 1px solid transparent;
    .product-help-block {
      position: static;
    }
    &:hover .product__buttons {
      padding-top: 0;
      margin-top: 12px;
    }
  }
  .page404 .title-404 {
    font-size: 100px;
  }
}

@media screen and (max-width: 914px) {
  .registration-form:nth-of-type(1) {
    -ms-flex: 0 0 62%;
    flex: 0 0 62%;
    margin: 0 auto;
  }

  .registration-form:nth-of-type(2) {
    -ms-flex: 0 0 62%;
    flex: 0 0 62%;
    margin: 50px auto;
  }

  .registration-page__login {
    border-left: none;
    border-top: 1px solid rgba(151, 151, 151, 0.2);
    padding: 0;
  }

  .registration-page__row {
    width: 100%;
  }

  .registration__social {
    display: table;
    margin: 0 auto;
  }

  .registration .registration__social {
    display: table;
    margin: 0 auto;
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .order-page__cart {
    padding-top: 0;
  }
  .some-product {
    &__title {
      font-size: 28px;
      line-height: 1.2;
    }
    &__descr {
      font-size: 14px;
      max-width: 100px;
      line-height: 1.3;
      //text-align: center;
    }
    &__article {
      justify-content: center;
    }
    &__image {
      min-width: 60px;
      max-width: 60px;
      min-height: 80px;
      max-height: 80px;
    }
    &__properties {
      margin-top: 10px;
    }
    &__information {
      align-items: flex-start;
    }
    &__price {
      &-current {
        font-size: 28px;
      }
      &-old{
        font-size: 28px;
        margin-left: 64px;
      }
    }
    .buy-one-click, .add-to-cart {
      height: 36px;
      line-height: 36px;
      font-size: 14px;
    }
  }

  //.description-product, .compose-product {
  //  padding: 10px;
  //}
  //.product-info-full{
  //  .description-product, .compose-product {
  //    padding: 10px;
  //  }
  //}

  .estimate {
    padding: 0 10px;
    &__comments {
      .comment {
        &__rating {
          padding: 10px;
        }
        &__date {
          padding: 10px;
        }
        &__text {
          padding: 0 10px;
        }
        &__action {
          padding: 10px;
        }
      }
    }
  }

  .order-page {
    width: 70%;
    margin: 0 auto;
    &__wrapper {
      -ms-flex-direction: column;
      flex-direction: column;
    }
    &__cart {
      padding-left: 0;
      margin: 20px 0 0 0;
      -ms-flex-order: -1;
      order: -1;
    }
    &-triangle::before {
      content: none;
    }
    &-last {
      display: block;
      &__left {
        display: none;
      }
      &__right .attributes {
        width: 90%;
        margin: 15px auto 0;
      }
    }
    &__cart {
      -ms-flex-order: 0;
      order: 0;
    }
  }
  .director-photo {
    display: none;
  }

}

@media screen and (max-width: 800px) {
  .account-featured {
    .slider-category {
      .product {
        &__btn {
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          line-height: 1;
        }
        &__description {
          min-height: 42.5px;
          font-size: 14px;
          a {
            font-size: 14px;
          }
        }
        &__image {
          min-height: 200px;
        }
      }
    }
  }

  .categories-page {
    .search-page {
      &__grid {
        .slider-category {
          &__item {
            flex: 0 0 49%;
            max-width: 49%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .page404 ~ .footer{
    margin-top: 60px;
    position: inherit;

  }
  .slider-category .owl-carousel .owl-dots.disabled, .slider-category .owl-carousel .owl-nav.disabled {
    display: block;
    i {
      color: $main-color-purple;
    }
  }
  .slider-category .owl-theme .owl-nav [class*='owl-'] {
    border-radius: 50%;
    background-color: #fff;
    border: none;
    width: 48px;
    height: 48px;
    &:hover {
      background-color: $main-color-aqua;
    }
  }

  .slider-category {
    .product {
      padding-bottom: 0;
      &:hover {
        .product-help-block {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  /*start modal*/
  .modal-dialog {
    width: 90%;
  }
  .start-modal .settings-bottom__images img {
    display: block;
    margin-bottom: 5px;
  }
  .start-modal__link-save {
    width: 160px;
  }
  .start-modal .settings-top {
    display: block;
  }
  .start-modal .settings-top .form-group {
    display: block;
    width: 100%;
  }
  .start-modal__row .form-group select {
    font-size: 13px;
  }
  .start-modal .settings-bottom {
    flex-wrap: wrap;
  }
  .start-modal .settings-bottom .form-group {
    flex: 0 0 100%;
    max-width: 100%;
  }
  /*start modal*/

  .adaptive-menu {
    &__open {
      top: 135px;
      max-height: calc(100vh - 135px);
    }
  }
  .adaptive-menu.adaptive-menu__open .adaptive-menu__list .adaptive-menu__item:last-child .sub-navigation-list__wrapper .sub-navigation-list .sub-sub-navigation-list__item:last-child{
    padding-bottom: 35px;
  }

  .article-full-width {
    .item {
      background-position: center;
      &__title {
        font-size: 35px;
      }
    }
  }

  .account-referal-link {
    width: 100%;
    flex-wrap: wrap;
  }
  .account {
    &__info {
      .table-responsive {
        border: none;
      }
    }
  }

  .article-post {
    max-width: 100%;
    padding: 43px 25px;
    &__text {
      font-size: 16px;
      line-height: 1.3;
      &-small {
        font-size: 14px;
        line-height: 1.2;
      }
    }
    .blockquote {
      font-size: 16px;
      line-height: 1.3;
      padding: 20px;
    }
  }

  .vk__ccomments {
    img {
      max-width: 80%;
    }
  }

  .estimate {
    &__title {
      padding-bottom: 30px;
    }
    &__comments {
      .comment {
        flex: 0 0 100%;
      }
    }
    &__left, &__right {
      flex: 0 0 100%;
      text-align: center;
    }
    &__left {
      border-right: none;
      .some-product__rating {
        .rating-count {
          margin-left: 101px;
        }
      }
    }
    &__right {
      order: -1;
      .estimate__row {
        width: 100%;
      }

      .some-product__rating {
        .rating-count {
          margin-left: 15px;

        }
      }

      .estimate__link {
        margin-top: 23px;
        margin-bottom: 23px;
        width: 100%;
        max-width: 270px;
      }

    }
    &__left {
      order: 1;
    }
    &__link {
      width: auto;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .blog-grid {
    padding: 0;
    &__image {
      flex-wrap: wrap;
      flex: 0 0 100%;
      &-small {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 10px;
        margin-bottom: 5px;
      }
    }
  }
  .blog-popularity {
    padding: 0;
    flex-wrap: wrap-reverse;
    &__image {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 5px;
    }
    &__tabs {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0;
    }
  }
  .blog-tags {
    display: none;
    flex-wrap: wrap;
    &__title {
      flex:  0 0 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
    &__row {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .blog-search {
    &__grid {
      .blog-grid__image {
        flex-wrap: wrap;
        &-small {
          flex: 0 0 49%;
          padding-bottom: 20px;
        }
      }
    }
    &__input {
      padding-top: 25px;
    }
  }
  #tabs-container {
    padding-top: 21px;
  }
  .tab {
    padding-top: 0;
  }

  .tooltip-inner {
    min-width: 150px;
  }
  .full-width-slider {
    .owl-theme {
      .owl-dots {
        display: none;
        left: 100px;
      }
    }
    .item-help-wrap {
      padding: 0 50px;
    }
    .item {
      padding: 0 18px;
      &__title {
        padding-top: 45px;
      }
      &__text {
        flex: 0 0 100%;
      }
      &__pictures {
        display: none;
      }
      &__btn {
        left: 50%;
        transform: translateX(-50%);
        bottom: 27px;
      }
      &__image {
        padding-top: 0;
        display: block;
        img {
          width: 218px;
          margin: auto;
          height: 330px;
        }
      }
      &__link {
        width: 251px;
        height: 57px;
      }
    }
  }

  .slider-arrow {
    &__left, &__right {
      display: none;
    }
  }

  .slider-category {
    .product {
      &__image {
        img {
          max-width: 125px;
          max-height: 200px;
        }
      }
    }
    &__title {
      padding: 35px 0 25px;
      span {
        font-size: 36px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        color: #000000;
      }
    }
    &__content {
      padding: 0 18px;
    }
  }
  .header {
    &-main {
      height: 56px;
      &__autorization {
        .login {
          width: 20px;
          text-indent: -1000px;
          .fa-sign-in, .fa-user{
            text-indent: initial;
          }
        }
        .registration {
          display: none;
        }
      }
      &__content {
        display: none;
      }
      &__logo {
        img {
          max-height: inherit;
        }
      }
      &__telephone {
        display: none !important;
      }
    }
    &-top {
      &__language, &__actions {
        flex: 0 0 50%;
      }
      &__actions {
        justify-content: flex-end;
      }
      &__lang, &__currency {
        display: none;
      }
      &__item {
        margin-right: 0;
        &:not(:nth-of-type(3)) {
          display: none;
        }
      }
    }
    &-bottom {
      .schedule {
        display: none;
      }
    }
  }
  .navigation .info-img {
    display: none;
  }

  .receipts, .blog-slider {
    &__item {
      padding: 0;
    }
    &__content {
      padding: 0 34px;
    }
    &__description {
      font-size: 24px;
    }
    .owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
      display: block;
      i {
        color: $main-color-purple;
      }
    }
    .owl-theme .owl-nav [class*='owl-'] {
      background-color: #f4f7f6;
      border-radius: 50%;
      border: none;
      width: 48px;
      height: 48px;
      &:hover {
        background-color: $main-color-aqua;
      }
    }
  }

  .blog-wrapper {
    max-width: 100%;
    padding: 0;
  }
  .blog {
    &__text {
      font-size: 24px;
    }
    &__description {
      padding-left: 10px;
    }
    .tags {
      left: 10px;
    }
    &__image {
      img {
        border-radius: 0;
      }
    }
    .tags {
      left: 18px;
    }
  }

  .tags {
    &__text {
      font-size: 13px;
    }
  }

  .footer {
    &__list {
      padding: 25px 18px;
    }
    &__item {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 10px;
    }
    &__link {
      text-align: left;
    }
    &__social {
      width: 33.333%;
      margin-right: 0;
    }
  }

  .some-product {
    &__actions {
      border: none;
    }
    &__featured, &__compare {
      border: none;
      height: auto;
      padding: 1rem;
      span {
        display: none;
      }
    }
    .some-product-thumbnails-slider .item {
      padding-top: 0;
    }
  }

  .search-page {
    &__grid {
      .slider-category {
        &__item {
          flex: 0 0 49%;
          max-width: 49%;
        }
      }
    }
  }

  .full-width-slider {
    .item {
      &__title {
        padding-top: 0;
        font-size: 36px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
      }
    }
  }

  .contact-form {
    padding-bottom: 63px;
    &__title {
      font-size: 24px;
    }
    &__text {
      max-width: 100%;
      padding-bottom: 24px;
    }
    &__row {
      padding: 0 18px;
    }
    &__button {
      width: 100%;
    }
    &__input {
      width: 100%;
      margin-right: 0;
      margin-bottom: 11px;
    }
  }

  .consulting {
    background: #fff;
    padding-top: 45px;
    padding-bottom: 40px;
    &__link {
      flex: 0 0 calc(100%/3);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      span {
        flex-basis: 100%;
      }
      img {
        margin-right: 0;
      }
    }
    .active {
      -webkit-background-size: cover;
      background-size: cover;
    }
    &__title {
      margin-top: 0;
    }
  }
  .blog-consulting {
    display: none;
  }

  .arr-topslider-violet {
    margin: 0 auto;
  }

  .tabs-menu {
    display: block;
    li {
      width: 50%;
    }
  }

  .cols-five {
    margin-bottom: 50px;
  }

  .owl-prev, .owl-next {
    display: none !important;
  }

  .full-width-slider .item {
    padding: 0 !important;
  }

  .some-product__bestseller, .some-product__hit, .some-product__newgoods, .some-product__notavailable, .some-product__product__super{
    left: 60px;
  }

  .some-product-thumbnails__social{
    img, span{
      display: none;
    }
  }

  .interact-cart__active{
    max-height: calc(100vh - 114px);
    top: 93px;
  }

  .full-width-slider {
    margin-top: 135px;
  }
}

@media screen and (max-width: 767px) {

  .breadcrumbs{
    padding-top: 135px;
  }

  .forgot-password {
    &__form {
      width: 95%;
      padding: 70px 0;
    }
  }

  .categories-page .search-page__grid {
    padding-left: 15px;
  }
  .categories-page {
    &__name {
      left: 15px;
      font-size: 30px;
    }
    #searchContent{
      padding-left: 15px;
    }
  }
  .sidebar {
    .form-group {
      max-width: 100%;
      &__limits {
        justify-content: flex-start;
        margin: 20px 0;
        .form-group__search {
          margin: 0 10px;
        }
      }
    }
  }

  .account-featured {
    .search-page {
      &__grid {
        justify-content: space-between;
        .slider-category {
          &__item {
            flex: 0 0 30%;
            max-width: 30%;
            margin-right: 0;
          }
        }
      }
    }
  }

  .some-product__special .special-tocart {
    min-width: initial;
    right: 0;
  }

  .search-page__row label {
    margin-left: 15px;
  }


  .account-referal .table-responsive {
    max-width: 100%;
  }

  .cols-five {
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 270px 270px;
    grid-auto-rows: minmax(252px, auto);
  }
}

@media screen and (max-width: 680px) {
  .order-page {
    width: 90%;
  }

  .tabs-menu li a {
    text-align: center;
  }

  .tabs-menu li.current a {
    text-align: center;
  }

  .slider-category .product:hover .product__buttons {
    margin-top: 12px;
  }
}

@media screen and (max-width: 600px) {
  .account-featured {
    .search-page {
      &__grid {
        justify-content: space-between;
        .slider-category {
          &__item {
            flex: 0 0 49%;
            max-width: 49%;
            margin-right: 0;
          }
        }
      }
    }
  }

  .more-articles {
    &__item {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 0 10px;
      margin-bottom: 25px;
      img {
        max-height: 300px;
      }
    }
    &__link {
      padding-top: 5px;
      display: block;
      text-align: center;
    }
  }
  .article-post {
    .blockquote {
      padding: 10px;
      text-align: left;
    }
  }

  .some-product-thumbnails-slider {
    .item {
      img {
        max-width: 250px;
        max-height: 400px;
      }
    }
  }
  .some-product {
    &__properties {
      .some-product__row {
        display: block;
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        select {
          width: 100%;
        }
      }
    }
    &__special {
      // display: none;
    }
    &__buttons {
      flex-wrap: wrap;
      .add-to-cart, .buy-one-click {
        flex:  0 0 100%;
        max-width: 100%;
        margin-bottom: 5px;
      }
    }
    input{
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }
  }

  .bestsellers {
    &__url {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__link {
      margin-bottom: 10px;
    }
    .slider-category__title {
      padding: 50px 0 0;
    }
  }
  .exclusive {
    &__row {
      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 50%;
      img {
        max-width: 120px;
      }
      &:nth-of-type(n+3) {
        padding-top: 25px;
      }
    }
  }

  .blog {
    &__image {
      flex: 0 0 100%;
      img {
        max-height: 375px;
        max-width: 375px;
        margin: auto;
        display: block;
      }
    }
    &__description {
      flex: 0 0 100%;
      padding-left: 18px;
      padding-right: 18px;
      padding-top: 15px;
    }
    &__read-more {
      margin-top: 0;
    }
  }

  .search-page {
    &__grid {
      .slider-category {
        &__item {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
    }
  }

  #feedback-window .modal-content {
    padding: 30px;
    box-sizing: border-box;
  }

  .modal-content {
    padding-right: 50px;
    .modal-body {
      display: table;
      .some-product__row-header {
        text-align: center;
        width: 100%;
      }
      .modal-body__action {
        width: 100%;
        max-width: 100%;
      }
      .modal-body__product {
        max-width: 100%;
        .modal-body__image {
          width: 100%;
          display: table;
          margin: 0 auto;
        }
      }
    }
  }
}



//@media screen and (max-width: 580px) {
//  .table-cart__form {
//    display: table;
//    width: 100%;
//  }
//
//  .cart-newwrap .table-cart__promocode {
//    width: calc(100% - 119px);
//    min-width: calc(100% - 119px);
//    display: table;
//    float: left;
//  }
//
//  .cart-page__back {
//    margin-top: 20px;
//  }
//}

@media screen and (max-width: 571px) {
  .usereditform-column {
    width: 100%;
  }

  .usereditform-column .subcolumn {
    max-width: none;
  }
  .some-product__bestseller, .some-product__hit, .some-product__newgoods, .some-product__notavailable, .some-product__product__super {
    left: 20px;
  }
}

@media screen and (max-width: 550px) {
  .order-page {
    width: 100%;
  }
  .product-info-full .description-product {
    padding: 0 20px;
  }
}

@media screen and (max-width: 500px) {
  .categories-page {
    .search-page {
      &__grid {
        .slider-category {
          &__item {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .account-featured {
    .search-page {
      &__grid {
        justify-content: space-between;
        .slider-category {
          &__item {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }

  .search-icon-adaptive {
    display: block;
  }
  .header {
    &-main {
      min-height: 56px;
      &__search {
        display: none;
      }
      &__content {
        &-wrap {
          align-content: center;
          justify-content: center;
          font-size: 22px;
          height: 100%;
          .search-icon-adaptive {
            cursor: pointer;
            color: #fff;
          }
        }
      }
    }
    &-top {
      &__language, &__link {
        //font-size: 10px;
      }
      &__link {
        min-height: 25px;
        display: flex;
        align-items: center;
      }
    }
  }
  .navigation {
    .header-main__telephone {
      font-size: 16px;
    }
  }

  .blog-popularity {
    &__title {
      left: 10px;
      a {
        font-size: 18px;
      }
    }
    &__image {
      .color-tag {
        left: 10px;
      }
    }
  }
  .blog-grid {
    &__image {
      img {
        max-height: 200px;
      }
      &-small {
        &__title {
          padding-top: 5px;
          a {
            display: block;
            font-size: 12px;
            line-height: 1.2;
          }
        }
      }
    }
    &__title, .color-tag {
      left: 10px;
    }
  }
  .blog-pagination {
    &__link {
      width: 35px;
      height: 35px;
      font-size: 11px;
    }
    .last {
      img {
        width: 50%;
        margin: auto;
      }
    }
  }

  .some-product__special {
    //display: flex;
    //flex-wrap: wrap;
    // flex-direction: row;
    //align-content: flex-start;
    display: table;
    width: 100%;

  }

  .some-product__special-wrapper {
    display: table;
    width: 100%;
  }

  .some-product__article {
    //display: flex;
    //flex: 0 0 40%;
    //display: table !important;
    //float: left;
    //width: 100%;
    // background-color: blue;
    display: table;
    width: 44.9%;
    float: left;
  }

  .some-product-plus {
    //display: table !important;
    //width: auto;
    //background-color: red;
    display: table !important;
    float: left;
  }

  .some-product__prices {
    //display: table !important;
    width: 100%;
    // background-color: green;
    //margin: 0 auto;

    //float: none;
    //clear: both;
  }


  .some-product-eq {
    // display: flex !important;
    // flex: 0 0 100% !important;
    width: 100%;
    display: block !important;
    //  background-color: #77ee77;
    float: none;
    clear: both;
    text-align: center;
    //display: table;
    //width: 100%;
    //float: none;
    //clear: both;
  }


  .special__price-current {
    display: table;
    //width: 100%;
    //clear: both;
    //float: none;
    float: left;
  }

  .some-product__prices {
    // width: calc(100% - 100px);
    display: table;
  }

  .special__price-current {
    display: table;
    margin: 0 auto;
    width: auto;
  }

  .some-product__prices.totalprice {
    //display: table;
    //margin: 0 auto;
    //position: relative;
  }

  .totalprice-wrap {
    display: table;
    position: relative;
    margin: 0 auto;
    // background: red !important;

    .some-product__price-sales {
      margin-top: 0;
    }
  }

  .some-product__special .special-tocart {
    position: static;
    margin: 15px auto 0;
  }

  .some-product .some-product__special {
    padding-right: 0;
  }

  //.some-product__special .some-product__article:last-child {
  //  padding-left: 25px;
  //  background: #ffbe0a !important;
  //}
  .order-page-last__left img {
    width: 100%;
    height: auto;
  }
  .full-width-slider {
    margin-top: 143px;
  }

}

@media screen and (max-width: 480px) {
  .slider-category .product__buttons {
    display: block;
  }

  .slider-category__item {
    margin-bottom: 11px;
  }

  .tab-content__row {
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    .tab-content__label {
      width: 100%;
    }
    .tab-content__input, .tab-content__select {
      width: 100%;
    }
    .tab-content__row-text {
      max-width: 100%;
      clear: both;
    }
  }

  .order-page__tabs{
    .tab-content__row-text {
      max-width: 100%;
      clear: both;
      width: 100%;
      label {
        text-align: center;
      }
    }
    form {
      width: 100%;
    }
  }

  .order-page__step {
    margin: 0 auto;
  }

  .order-page__name {
    padding: 0;
    width: 100%;
    text-align: center;
    margin-top: 10px;
  }

  .tabs-menu li {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .body-order{
    .tab-content {
      width: 100%;
    }
    .headertab-resp {
      width: 100%;
      clear: both;
      display: table;
      margin-bottom: 20px;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
  }

  .registration-page__form {
    padding: 0;
  }

  #feedback-window {
    overflow-x: hidden;
    z-index: 9999999;
    .modal-dialog {
      margin-top: 20px;
    }
    .modal-content {
      padding: 30px 15px;
      box-sizing: border-box;
    }
  }

  .cols-five {
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 270px;
    grid-auto-rows: minmax(252px, auto);
  }

  .cols-seven {
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-columns: 1fr;
    -ms-grid-rows: 184px;
    grid-auto-rows: minmax(184px, auto);
  }

  .usereditform .default-btn {
    max-width: 100%;
    width: 100%;
    display: table;
  }

  .account-personal .account__title, .account-personal .account__info {
    max-width: 100%;
  }

  .cart-page .table-cart {
    background: #F4F7F6;
    padding: 40px 15px;
    box-sizing: border-box;
  }

  .order-page__payment {
    padding-left: 0;
  }

  .payment__select {
    width: 100%;
  }

  .slider-category__title {
    padding: 40px 0;
  }

}

@media screen and (max-width: 450px) {
  .some-product__article {
    width: 44.3%;
  }
}
@media screen and (max-width: 425px) {
  .exclusive {
    &__images {
      margin-top: 0;
    }
  }

  .blog-slider {
    &__description {
      min-height: 30px;
    }
  }

  .full-width-slider {
    .item {
      .item-help-wrap {
        padding: 0;
      }
      &__link {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
    .owl-theme .owl-dots {
      left: 50px;
    }
  }

  .slider-category {
    .product {
      &__rating, &__price, &__description {
        padding-left: 15px;
        padding-right: 15px;
      }
      &__description {
        min-height: 45px;
        font-size: 14px;
        line-height: 1.3;
        a {
          font-size: 13px;
          line-height: 1.2;
        }
      }
    }
    &__title {
      span {
        font-size: 28px;
        margin-right: 10px;

      }
    }
  }

  .some-product {
    &__title {
      font-size: 21px;
    }
    &__price {
      &-current {
        font-size: 21px;
      }
      &-old{
        font-size: 21px;
        margin-left: 50px;
      }
    }
  }

  .description-product__additional, .compose-product__additional {
    font-size: 16px;
  }


  .some-product__article {
    width: 43.5%;
  }

  #shipping_block .select2-container {
    min-width: 100% !important;
    width: 100% !important;
  }

}
@media screen and (max-width: 385px) {
  .blog-adaptive {
    top: 90%;
    transform: translateY(-90%);
  }

  .cart-page__name {
    line-height: 1.4;
    margin-top: 20px;
  }

  .some-product__bestseller, .some-product__hit, some-product__newgoods, some-product__notavailable, .some-product__product__super {
    left: 10px;
  }
  .some-product__buttons input {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .forgot-password {
    &__row, &__link {
      width: 90%;
    }
  }

  .header {
    &-top {
      &__item, &__lang, &__country {
        margin-right: 3.5px;
      }
    }
  }

  .navigation {
    .header {
      &-main {
        &__telephone {
          font-size: 12px;
        }
      }
    }
    .schedule {
      &__text {
        font-size: 10px;
      }
    }
  }

  .blog-header {
    &__logo, &__search {
      flex: 0 0 100%;
      max-width: 100%;
      margin-left: 0;
    }
  }

  .estimate {
    &__rating {
      .some-product {
        &__rating {
          img {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }

  .blog {
    &__image {
      img {
        max-height: 320px;
        max-width: 320px;
      }
    }
  }

  .some-product__article {
    width: 42%;
  }
}

@media screen and (max-width: 363px) {
  .categories-page .search-page__row .select-search {
    margin-left: 15px;
  }

  .header-main__telephones .schedule__text {
    display: none;
  }

  .slider-category .product:hover .product__buttons {
    margin-top: 12px;
  }
}

@media screen and (max-width: 320px) {
  .registration{
    .registration__social {
      width: 90%;
    }
    .reg-social-icon {
      margin: 0;
    }
    &-wrap{
      .registration__social {
        margin: 0 7px 0 0;
        width: 100%;
        display: table;
        .reg-social-icon {
          width: calc(50% - 4px);
        }
      }
    }
  }
  .registration-page__form {
    padding: 0 15px;
    box-sizing: border-box;
  }
  .registration-page__link {
    width: 283px;
  }
}

@media screen and(max-width: 1800px) {
  .search-brand__letter {

    .letter__link {
      margin: 0 1%;
    }
  }
}

@media screen and(max-width: 1630px) {
  .order-page-last__information {
    margin-left: 220px!important;
  }

  .search-brand {
    &__wrap {
      max-width: 1170px;
    }
  }
  .search-tag{
    &__wrap {
      max-width: 1170px;
    }
  }
}

@media screen and(max-width: 1250px) {

  .order-page-last__information p {
    margin: 0 auto 48px!important;
    max-width: 100%!important;
  }
  .order-page-last__information .topdescr {
    padding-left: 220px!important;
  }
  .order-page-last__information {
    margin-left: auto!important;
  }


  .search-brand {

    &__wrap {
      max-width: 980px;
    }
    .search-brand__letter {
      margin-bottom: 50px;

      .letter {
        flex-wrap: wrap;
      }
    }

    .result__content-head {
      padding: 13px 40px 4px;
    }
    .result__content-wrap {
      padding: 35px 40px;
    }
  }
  .search-tag {
    &__wrap {
      max-width: 980px;
    }
    .result__content-wrap {
      padding: 35px 40px;
    }
  }



}

@media screen and(max-width: 1040px) {
  .search-brand {

    &__wrap {
      max-width: 600px;
    }
    .search-brand__letter {
      margin-bottom: 0;
      .letter {
        margin-bottom: 20px;
      }
    }
    .result__content-wrap {
      padding: 15px;
      ul{
        li {
          width: 50%;
        }
      }

    }
  }

  .search-tag {
    &__wrap {
      max-width: 600px;
    }

    .result__content-wrap {
      padding: 15px;
      ul{
        li {
          width: 50%;
        }
      }

    }
  }


}

@media screen and(max-width: 600px) {
  .order-page-last__information .topdescr {
    padding-left: 0!important;
    padding-top: 170px!important;
  }
}

@media screen and (max-width: 768px){
  .slider-arrow__left, .slider-arrow__right {
    width: 50px;
    height: 50px;
    top: 100%;
    display: flex;
  }
  .some-product__featured img {
    margin: 0;
  }

  .slider-arrow__left {
    left: 40%;
  }
  .slider-arrow__right {
    right: 40%;
  }

  .slider-category {
    margin-bottom: 10%;
  }
  .blog-slider{
    padding-bottom: 15%;

    .slider-arrow__left, .slider-arrow__right {
      top: 90%;
    }
  }

  .search-brand {
    &__wrap {
      max-width: 100%;
      padding: 0 15px;
    }
    .result__content-head {
      padding: 5px 15px;
    }
    .result__content-wrap {
      padding: 15px;
      ul{
        li {
          width: 50%;
        }
      }

    }
  }

  .search-tag {
    &__wrap {
      max-width: 100%;
      padding: 0 15px;
    }

    .result__content-wrap {
      padding: 15px;
      ul{
        li {
          width: 50%;
        }
      }

    }
  }

  #fb-root{
    .fb_dialog{
      bottom: 35px!important;
      right: 7px!important;
    }
  }
}

@media screen and (max-width: 550px){

  .slider-arrow__left {
    left: 38%;
    width: 45px;
    height: 45px;
  }
  .slider-arrow__right {
    right: 38%;
    width: 45px;
    height: 45px;
  }
  .blog-slider{
    padding-bottom: 20%;

  }

  .search-brand {
    .result__content-wrap {
      padding: 15px;
      ul{
        li {
          width: 100%;
        }
      }

    }
  }

  .search-tag {
    .result__content-wrap {
      padding: 15px;
      ul{
        li {
          width: 100%;
        }
      }

    }
  }

}

@media screen and (max-width: 420px){

  .slider-arrow__left {
    left: 35%;
  }
  .slider-arrow__right {
    right: 35%;
  }

}

@media screen and (max-width: 1525px){

  .header-main__autorization{
    .login_more{
      display: none;
    }
  }
}

@media screen and (max-width: 768px){

  .header-main__autorization{
    display: block;
  }

  .header-bottom__mobile {
    display: flex;
  }
}

@media screen and (max-width: 535px) {

  .categories-page {
    &__name {
      font-size: 25px;
    }
  }
}

@media screen and (max-width: 510px){

  .full-width-slider {
    //background-color: transparent;
    .desktop{
      display: none!important;
    }

    .mobile{
      display: block!important;
    }
  }
}

@media screen and (max-width: 445px){
  .categories-page {
    &__name {
      top: -75px;
      text-align: center;
      line-height: 1;
    }
  }
}

@media screen and (max-width: 510px){
  .slider-category.hits, .slider-category.bestsellers{
    .tooltip.top .tooltip-inner:after {
      left: 55%;
    }

    .tooltip.fade.top.in{
      top: -28px;
      left: 62%!important;
    }
  }

}

@media screen and (max-width: 500px){
  #fb-root{
    display: none;
  }
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.top .tooltip-inner:after {
      left: 57%;
    }
  }

  .header-top__item:nth-of-type(3).fullheart {
    background-size: auto;
  }
  .header-top__link .like {
    left: -24px;
  }
}

@media screen and (max-width: 480px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.top .tooltip-inner:after {
      left: 64%;
    }

    .tooltip.fade.top.in {
      top: -28px;
      left: 60% !important;
    }
  }
}

@media screen and (max-width: 470px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.top .tooltip-inner:after {
      left: 65%;
    }
  }
}

@media screen and (max-width: 450px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.fade.top.in {
      left: 58% !important;
    }
    .tooltip.top .tooltip-inner:after {
      left: 71%;
    }
  }
}

@media screen and (max-width: 425px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.top .tooltip-inner:after {
      left: 55%;
    }
  }
}

@media screen and (max-width: 400px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.top .tooltip-inner:after {
      left: 58%;
    }
  }
}

@media screen and (max-width: 380px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.top .tooltip-inner:after {
      left: 62%;
    }
  }
}

@media screen and (max-width: 360px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.top .tooltip-inner:after {
      left: 66%;
    }
  }

  .order-page__cart{
    .table-cart__confirm{
      text-align: center;
    }
  }
}

@media screen and (max-width: 340px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.fade.top.in {
      left: 54% !important;
    }
    .tooltip.top .tooltip-inner:after {
      left: 74%;
    }
  }

  .slider-category.news{
    .tooltip.top .tooltip-inner:after {
      left: 53%;
    }
  }
}
@media screen and (max-width: 320px){
  .slider-category.hits, .slider-category.bestsellers {
    .tooltip.fade.top.in {
      left: 51% !important;
    }
    .tooltip.top .tooltip-inner:after {
      left: 80%;
    }
  }

  .slider-category.news{
    .tooltip.top .tooltip-inner:after {
      left: 56%;
    }
  }
}



