#instock-modal {

  .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .modal-content {
    width: 100%;
    @media screen and (max-width: 768px) {
      padding: 20px;
      padding-right: 20px;
    }
  }

  .modal-body {
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }

  .close {
    right: 10px;
  }



  .instock-modal__text {
    margin-bottom: 25px;
    p {
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
      text-align: center;
      max-width: 350px;
      margin: 0 auto;
      width: 100%;
      color: #000;
      @media screen and (max-width: 768px) {
        font-size: 21px;
      }
    }

  }

  .btn-ok {
    background-color: $main-color-purple;
    font-size: 20px;
    color: #fff;
    border: none;
    box-shadow: none;
    max-width: 216px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;

    @media screen and (max-width: 768px) {
      font-size: 18px;
      padding: 15px 0;
      max-width: 150px;
    }
  }

}
#enterModal {
  @media screen and (max-width: 480px) {
    margin: 0;
    padding: 0;
  }

  .close {
    z-index: 100;
    @media screen and (max-width: 480px) {
      font-size: 50px;
    }
  }

  .modal-dialog {
    width: 422px;
    @media screen and (max-width: 480px) {
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }

  }
  .modal-content {
    @media screen and (max-width: 480px) {
      border: none;
      padding: 0;
    }
  }
  .modal-body {
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  .registration-page__registration {
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  .registration-page__link {
    margin: 0 auto;
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
  .registration__social {
    @media screen and (max-width: 480px) {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

  }
}


#attention-modal{
  font-size: 17px;
  .reg-google {
    background-color: #f34a38;

  }
  .registration__social{
    text-align: center;
    .reg-google svg{
      position: absolute;
      left: 18px;
      top: 14px;
    }
  }
  .reg-social-icon {
    display: inline-block;
    border-radius: 5px;
    color: #FFF;
    margin-right: 7px;
    width: 146px;
    height: 50px;
    text-align: center;
    position: relative;

    span {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 50px;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      position: absolute;
      top: 0;
    }
  }
}

#comment-modal {

  .modal-upper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;

    &-left {
      display: flex;

      .comment__rating {
        padding: 0 15px 0 0;
      }

      .comment__author {
        position: relative;
        bottom: 2px;
      }

    }

    &-right {

      .comment__date {
        padding-top: 0;
        padding-right: 0;
      }

    }

  }

  .modal-lower {

    .comment-text-data {

    }

  }

}

#oneCLickForm{
  input[type="text"]{
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      opacity: 1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      opacity: 1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      opacity: 1;
    }
    &:-moz-placeholder { /* Firefox 18- */
      opacity: 1;
    }
    color: black;
  }
}