.noslider-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;


  .product-help-block {
    background-color: #fff;
    border: 1px solid transparent;
    padding-top: 16px;
    margin: 10px;
    flex-basis: 20%;
    position: relative;
    padding-bottom: 5px;

    &:hover {
      border: 1px solid rebeccapurple;
      .product__like {
        opacity: 1;
        visibility: visible;
      }
      .product__buttons {
        visibility: visible;
        opacity: 1;
      }
      .product__buttons.finished {
        visibility: hidden;
      }
    }

    &:after {
      position: absolute;
      left: 0;
      width: 100%;
      content: '';
      height: 125px;
      top: 1px;
    }

    .product-top {
      border-top: 1px solid transparent;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      a {
        z-index: 100;
      }
    }
    .product__like {
      cursor: pointer;
      /* width: auto !important;*/
      opacity: 0;
      visibility: hidden;
      width: 23px !important;
      height: 19px;
      display: table;
      margin-top: 5px;
      margin-left: 7px;
    }
    .product__image {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 237px;
      img {
        display: block;
        //max-width: 168px;
        //max-height: 237px;
        width: 168px;
        height: 237px;
        object-fit: contain;
        margin-top: 40px; /*R*/
        transform-style: inherit;
      }
    }
    .product__sales {
      @include sales;
    }
    .product__description {
      min-height: 72px;
      max-height: 72px;
      overflow: hidden;
      min-width: 100%;
      padding: 0 36px;
      a {
        @include sliders-categories-product;
        &:hover {
          text-decoration: none;
          color: #000000;
        }
      }
      @include sliders-categories-product;
    }
    .product__rating {
      margin-top: 5px;
      padding: 0 36px;
      .rating-count {
        color: $main-color-purple;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: left;
        position: relative;
        left: 5px;
        bottom: 2px;
      }
      i {
        display: inline-block;
      }
    }
    .product__price {
      border-bottom: 1px solid transparent;
      padding: 0 36px 24px;
      &-old {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #979797;
        text-decoration: line-through;
        padding: 10px 0;
        min-height: 40px;
      }
      &-current {
        font-size: 24px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;

        &.is_discount{
          color: #ee0b0b;
        }
      }
    }

    .product__add, .product__buy {
      color: $main-color-purple;
      display: block;
      padding: 16px 0;
      text-align: center;
      text-decoration: none;
      &:hover {
        background-color: $main-color-purple;
        color: #ffffff;
        text-decoration: none;
      }
    }

  }

}