.page404 {
  .title-404 {
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 200px;
    margin:  0 auto;
    color: #0a0a0a;
    font-size: 130px;
  }
  .add-to-cart {
    margin: 0 auto;
  }
  span {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #0a0a0a;
  }

  & ~ .consulting {
    display: none;

    &__title {
      margin-top: 25px;
    }

  }

  & ~ .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }

}