@import '../styles/variables';
@import '../styles/mixins';

#instock-modal .modal-dialog {
  right: 0;
  bottom: 0;
  position: absolute;
 // width: auto;
  left: 0;
  margin: auto !important;
  top: 0;
  height: fit-content;
}
.some-product-wrapper {
  background: #fff;
  display: inline-block;
  width: 90%;
  padding-right: 42px;
  padding-bottom: 42px;
}
#order-ready-status-finished {
  display: flex;
  align-items: center;
   span {
     margin-left: 11px;
   }
   i {
     color: #EE0058;
   }
 }

.some-product {
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-bottom: 60px;
  position: relative;

  .owl-thumbs{
    .owl-thumb-item{
      background-size: contain!important;
    }
  }
  &__actions {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    right: 25px;
    border-radius: 8px;
    //border: solid 1px #e7e7e7;
    max-width: 184px;
    width: 100%;
    z-index: 5;
    &-link {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      color: $main-color-purple;
      text-decoration: none;
      &:hover, &:active, &:focus, &:visited {
        text-decoration: none;
        color: #6004ba;
      }
      span {
        display: inline-block;
        margin-top: 12px;
        text-transform: uppercase;
      }
      img {
        flex: 0 0 100%;
        max-width: 22px;
        object-fit: cover;
      }
      &:hover {
        color: $main-color-purple;
      }
    }
  }
  &__featured, &__compare {
    cursor: pointer;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: solid 1px #e7e7e7;
    position: relative;
    z-index: 0;
    font-size: 12px;
    &:hover {
      border: 1px solid #6004ba;
      z-index: 10;
    }
  }
  &__featured{
    border-radius: 8px 0 0 8px;
    border-right: solid 1px #e7e7e7;
    flex-basis: 50%;
    width: calc(50% + 1px);

    & img{
      margin-top: 0;
      position: relative;
      top: 4px;
    }
  }
  &__compare {
    border-left: solid 1px #e7e7e7;
    margin-left: -1px;
    border-radius: 0 8px 8px 0;
    position: relative;
    width: calc(50% + 1px);
    img{
      position: relative;
      top: 4px;
    }
    span {
      margin-top: 15px;
    }

    .number {
      z-index: 1;
      font-size: 10px;
      font-weight: bold;
      font-family: 'ProximaNova';
      width: 11px;
      height: 13px;
      line-height: 0;
      right: 24px;
      top: 9px;
      position: absolute;


    }
    //&.active {
    //  &:before {
    //    content: '\f00c';
    //    font-size: 20px;
    //    font-family: 'FontAwesome';
    //    color: green;
    //    position: absolute;
    //    top: 0;
    //    left:0;
    //
    //  }
    //}
  }
  &-thumbnails-slider {
    flex-basis: 35%;
    text-align: center;
  }
  &__info {
    flex-basis: 65%;
    padding-right: 50px;
    overflow: hidden;
  }
  &__articul {
    font-family: 'ProximaNova', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #979797;
  }
  &__title {
    @include product-title;
    max-width: 1000px;
  }
  &__rating {
    padding: 10px 0;
    .rating-count {
      color: $main-color-purple;
      font-size: 14px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.64;
      letter-spacing: normal;
      text-align: left;
      position: relative;
      left: 5px;
      bottom: 2px;
    }
    i {
      display: inline-block;
    }

    svg.active path {
      fill: $main-color-purple;
    }
  }
  &__status {
    flex: 1 0 30%;
    padding-right: 50px;
    i {
      color: $main-color-aqua;
    }

    &-text {
      font-family: 'ProximaNova', sans-serif;
      font-size: 16px;
      //font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: $main-color-aqua;
    }
    &-individual-order {
      font-family: 'ProximaNova', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #EE0058;
      svg {
        display: block;
        margin-right: 7px;
        float: left;
      }

    }
    &-individual-order.subcribe {
      width: 330px;
      padding-left: 20px;
    }
    &-individual-order.subcribe.success {
      color: #00a65a;
    }
  }
  .some-product-help-block {
    display: flex;
    justify-content: space-between;
    //flex-wrap: wrap;
  }
  &__row {
    position: relative;
   // border: solid 1px #f3f7f6;
    .item-name {
      float: left;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000;
    }
    .item-value {
      float: right;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000;
    }
    &:after {
      content: '';
      clear: both;
      display: table;
    }

    &-header {
      float: right;
      font-size: 16px;
      font-weight: 400;
      font-style: normal;
      font-stretch: normal;
      line-height: 24px;
      letter-spacing: normal;
      color: #000;
      width: 100%;
    }

    &-itemquantity {
      width: 48%;
      display: inline-block;
      font-size: 14px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      text-align: left;
      color: #000;
    }

    &-itemprice {
      width: 48%;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: right;
      color: #000;
    }
  }
  &__characters {
    padding-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e7e7e7;
    .table>tbody>tr>td {
      border-top: none;
      padding: 1px;
    }
    .table-responsive {
      border: none;
    }
  }
  &__price {
    flex: 1 0 60%;
    &-old {
      display: inline-block;
      font-size: 36px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #979797;
      text-decoration: line-through;
      margin-left: 82px;
      //width: 77.65px;
    }
    &-current {
      font-size: 36px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000000;
      &.is_discount{
        color: #ee0b0b;
      }
    }
    &-current.finished {
      color: #DADADA;
    }
  }
  &__sales {
    @include sales;
    transform: translateX(25px);
  }
  &__bestseller {
    background-color: #00cac5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 3px;
    background-color: #FE7700;
    display: block !important;
    position: absolute;
    top: 15px;
    left: 60px;
    height: 26px;
    z-index: 2;
    :before {
      position: absolute;
      left: -21px;
      top: 0;
      content: '';
      display: table;
      clear: both;
      border: 13px solid transparent;
      border-right: 8px solid #00cac5;
      content: none;
    }
  }
  &__hit {
    background-color: #00cac5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 3px;
    background-color: #6004BA;
    display: block !important;
    position: absolute;
    top: 15px;
    left: 60px;
    height: 26px;
    z-index: 2;
    :before {
      position: absolute;
      left: -21px;
      top: 0;
      content: '';
      display: table;
      clear: both;
      border: 13px solid transparent;
      border-right: 8px solid #00cac5;
      content: none;
    }
  }
  &__newgoods {
    background-color: #00cac5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 3px;
    background-color: #EE0058;
    display: block !important;
    position: absolute;
    top: 15px;
    left: 60px;
    height: 26px;
    z-index: 2;
    :before {
      position: absolute;
      left: -21px;
      top: 0;
      content: '';
      display: table;
      clear: both;
      border: 13px solid transparent;
      border-right: 8px solid #00cac5;
      content: none;
    }
  }

  &__super {
    background-color: #00cac5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #fff;
    display: inline-block;
    position: relative;
    padding: 3px;
    background-color: #ee0b0b;
    display: block !important;
    position: absolute;
    top: 15px;
    left: 60px;
    height: 26px;
    z-index: 2;
    :before {
      position: absolute;
      left: -21px;
      top: 0;
      content: '';
      display: table;
      clear: both;
      border: 13px solid transparent;
      border-right: 8px solid #00cac5;
      content: none;
    }
  }

  &__notavailable  {
    background-color: #00cac5;
    cursor: pointer;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #000000;
    display: inline-block;
    position: relative;
    padding: 3px;
    background-color: #fff;
    display: block !important;
    position: absolute;
    top: 15px;
    left: 60px;
    height: 26px;
    border: solid 1px;
    padding: 1px 8px 0 8px;
    z-index: 2;
    :before {
      position: absolute;
      left: -21px;
      top: 0;
      content: '';
      display: table;
      clear: both;
      border: 13px solid transparent;
      border-right: 8px solid #00cac5;
      content: none;
    }
  }

  &__properties {
    padding-top: 17px;
    .some-product__row {
      display: inline-block;
      max-width: 48%;
      margin-right: 4%;
      &:last-child {
        margin-right: 0;
      }
      select {
        //border: solid 1px #f3f7f6;
        width: 213px;
        height: 40px;
        background-size: 5%;
        padding: 0.5rem;
        background: url(../../images/triangle-black.svg) no-repeat 95% center;
      }
      label {
        display: block;
        font-family: 'Proximanova', sans-serif;
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $main-color-purple;
        transform: translate(7px, 7px);
      }
    }
  }
  &__tags {
    padding-top: 14px;
    .color-tag {
      margin-right: 5px;
    }
    &-title {
      font-family: 'ProximaNova', sans-serif;
      font-size: 14px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.71;
      letter-spacing: normal;
      color: #000;
    }
  }
  &__special {
    max-width: 1015px;
    border: 1px solid $main-color-aqua;
    padding-bottom: 50px;
    padding-right: 25px;
    position: relative;
    margin-top: 35px;
    .add-to-cart {
      white-space: nowrap;
      position: absolute;
      bottom: -15px;
      right: 25px;
      margin: 0;
      height: 50px;
      font-size: 15px;
    }


    .special-tocart {
      min-width: 250px;
      right: -48px;
    }

    &-wrapper {
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
    .some-product__name {
      background: $main-color-aqua;
      display: inline-block;
      font-size: 22px;
      font-style: normal;
      font-stretch: normal;
      line-height: 2.23;
      letter-spacing: -1px;
      color: #ffffff;
      padding: 0 10px;
      margin-bottom: 25px;
    }
  }
  &__article {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    &:first-child {
      padding-left: 25px;
    }
  }
  &__image {
    min-height: 127px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      width: 100%;
    }
  }
  &__information {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    padding-left: 7.5px;
  }
  &__descr {
    max-width: 130px;
    text-align: left;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.76;
    letter-spacing: -0.8px;
    color: #000000;
  }
  &__action {
    display: flex;
    align-items: center;
    @include special-text;
    padding: 0 15px;
  }
  &__prices {
    span {
      //color: #f00;
      font-size: 16px;
      margin-left: 10px;
    }
    flex: 0 0 24%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    .some-product__price-sales {
      @include sales;
      margin-left: 25px;
    }

    .some-product__price-sales {
      span {
        margin-left: 0;
      }
    }
  }
  &__buttons {
    padding-top: 25px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    input {
      font-size: 20px;
      margin: 0 10px 0 0;
      padding: 0 0 0 10px;
      width: 300px;
    }
  }
}

.totalprice-wrap {
  display: table;
  //width: 100%;
  .some-product__price-current {
    display: table;
    float: left;
    span {
      margin-left: 0;
    }
    }


  .some-product__price-sales {
    float: left;
    display: table;
    margin-top: 5px;
  }
}

.totalprice-summary {
  display: inline-block;
}

.free-shipping {
  background-color: #f3f7f6;
  display: block;
  width: 10%;
  min-height: 713px;
  height: 100%;
  float: right;
  padding-top: 114px;
}

.some-product-thumbnails {
  &__social {
    padding-top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #000000;
      margin-right: 10px;
    }
    img {
      cursor: pointer;
      margin-right: 5px;
    }
  }
}
.some-product-thumbnails-slider {
  padding-right: 50px;
  overflow: hidden;
  position: relative;
  .owl-thumb-item {
    width: 80px;
    height: 80px;
    background: url("../../images/childenschewo.jpg") no-repeat center / 40px 60px;
    border: 2px solid transparent;
    text-align: center;
    opacity: 0.4;
    &:first-child {
      background: url("../../images/childenschewo.jpg") no-repeat center / 40px 60px;;
    }
    &:last-child {
      background: url("../../images/bitmap.png") no-repeat center / 40px 60px;;
    }
  }
  .owl-thumb-item.active {
    border: 2px solid $main-color-purple;
    opacity: 1;
  }
  .item {
    padding-top: 25px;
    margin: 0 auto;
    img {
      max-width: 349px;
      //height: 530px;
      margin: auto;
    }
  }
}

.maybe-like-slider, .history-product-slider, .with-product-slider {
  padding-bottom: 30px;
}

.product-bought {
  padding-top: 25px;
  max-width: 600px;
  position: relative;
  overflow: hidden;
  &__arrow-left{
    bottom: 12px!important;
  }
  &__arrow-right{
    bottom: 12px!important;
  }
  .arrow-wrap {
    color: $main-color-purple;
  }
  .owl-stage-outer {
    padding: 0 30px;
    margin-right: 30px;
  }
  .owl-item {
    border: 2px solid transparent;
    cursor: pointer;
    //padding-right: 15px;
    z-index: 20;
    position: relative;
  }
  .owl-theme {
    .owl-nav {
      button {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
        border: 2px solid transparent;
      }
    }
  }
  .owl-nav {
    margin: 0;
    position: absolute;
    //left: 50%;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    button {
      height: 76px;
      border: none;
      background-color: #f3f7f6;
    }
  }
  &__wrap {
    height: 72px;
    background-color: #fff;
    border: 2px solid #f3f7f6;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    &:hover {
      border: 2px solid $main-color-purple;
    }
  }
  &__text {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
  }
  &__price {
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  &__arrow-left {
    background-color: #f3f7f6;
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 32px;
    position: absolute;
    left: 0;
    bottom: 2px;
    z-index: 5;
  }
  &__arrow-right {
    background-color: #f3f7f6;
    border: 2px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    width: 32px;
    position: absolute;
    right: 0;
    bottom: 2px;
    z-index: 5;
  }
}


.product-info-full {
  background-color: #fff;
  &:after {
    display: table;
    clear: both;
    content: '';
  }

  .description-product {
    padding: 70px 10px 70px 180px;
    &__link {
      color: $main-color-purple;
      &:hover {
        color: $main-color-purple;
      }
    }
  }

  .compose-product {
    padding: 70px 180px 70px 10px;
    &__link {
      background-color: #f3f7f6;
      border: solid 1px $main-color-purple;
      display: block;
      height: 57px;
      line-height: 57px;
      letter-spacing: normal;
      text-align: center;
      color: #000;
      &:hover {
        color: #000;
        text-decoration: none;
      }
      img {
        margin-left: 20px;
      }
    }
  }
}


.description-product, .compose-product {
  background-color: #fff;
  &__title {
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: left;
    color: #000;
    margin-bottom: 10px;
    &__product {
      color: #b2b2b2;
      font-weight: 700;
    }
  }
  &__content {
    h2 {
      font-size: 16px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      font-weight: 700;
    }
  }
  &__additional {
    font-size: 18px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    margin-top: 40px;
    margin-bottom: 5px;
  }
  p {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  ul {
    li {
      padding-left: 25px;
      p {
        margin-bottom: 0;
      }
    }
  }
  .info-img {
    margin-left: 20px;
  }
}

.estimate {
  padding: 0 170px;
  &__row {
    flex: 0 0 100%;
  }
  .blog-pagination {
    margin-top: 0;
    &__link {
      color: #000;
      transition: none;
      &:hover {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
    }
    .active {
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #fff;
      color: $main-color-purple;
      border: none;
      font-weight: bold;
    }
  }
  &__title {
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -1px;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    padding: 70px 0;
  }
  &__comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    .comment {
      background: #fff;
      flex: 0 0 49%;
      &__row {
        &-first {
          display: flex;
          justify-content: space-between;
          padding-bottom: 10px;
        }
      }
      &__rating {
        display: flex;
        align-items: center;
        padding-top: 42px;
        padding-left: 42px;
        padding-right: 42px;
        i {
          display: inline-block;
          margin-right: 2.5px;
        }
        svg path {
          cursor: pointer;
          &:hover {
            fill: $main-color-purple;
          }
        }
        svg.active path {
          fill: $main-color-purple;
        }
      }
      &__date {
        opacity: 0.5;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        padding-top: 42px;
        padding-right: 42px;
      }
      &__text {
        padding-left: 42px;
        padding-right: 42px;
        position: relative;

        &.text-short {
          max-height: 68px;
          overflow: hidden;
        }

        &-data {
          margin-bottom: 0;
        }

        .read-more {
          display: none;
          color: #000;
          position: absolute;
          right: 50px;
          bottom: 1px;
          z-index: 1;
          font-size: 14px;
          background: linear-gradient(90deg, transparent 0%, #fff 10%, #fff 100%);
          text-decoration: underline;
          padding-left: 30px;
          cursor: pointer;
          &:hover {
            text-decoration: none;
          }
          &.visible {
            display: block;
          }
        }
      }
      &__action {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.88;
        letter-spacing: normal;
        text-align: left;
        color: $main-color-purple;
        margin-top: 10px;
        padding-left: 42px;
        padding-right: 42px;
        padding-bottom: 42px;
        position: relative;
        &:after {
          position: absolute;
          bottom: -25px;
          left: 0;
          content: '';
          border: 12.5px solid transparent;
          border-left: 12.5px solid #fff;
          border-top: 12.5px solid #fff;
        }
      }
      &__bottom {
        background: #f4f7f6;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0 40px 0;
      }
      &__author {
        font-size: 20px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;
        letter-spacing: normal;
        color: #000000;
      }
      &__status {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
      }
      &__likes {
        color: #00cac5;
      }
      &__unlikes {
        color: #ee0058;
      }
      &__likes, &__unlikes {
        cursor: pointer;
        background-color: #fff;
        padding: 0.5rem;
      }
      &__count {
        margin-left: 5px;
      }
    }
  }
  &__rating {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    .some-product__rating {
      padding: 10px 0 0 0;
      .rating-count {
        position: static;
        margin-left: 50px;
      }
    }
  }
  &__left {
    border-right: 1px solid rgba(0,0,0,0.2);
    padding-right: 25px;
    flex: 0 0 49%;
    text-align: right;
  }
  &__right {
    flex: 0 0 49%;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  &__link {
    display: inline-block;
    width: 310px;
    height: 64px;
    line-height: 58px;
    background-color: $main-color-purple;
    border: solid 4px $main-color-purple;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    text-decoration: none;
    &:hover, &:active, &:visited, &:focus {
      color: #fff;
      text-decoration: none;
    }
  }
}

.videosection {
  width: 100%;
  padding: 72px 30px 64px;
  background-color: #262626;
  &__header {
    font-weight: 900;
    letter-spacing: -1px;
    font-size: 36px;
    width: 100%;
    text-align: center;
    line-height: 42px;
    color: #fff;
    text-transform: uppercase;
    margin: 0 0 30px 0;
  }

  .adaptive-wrap {
    display: table;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    max-width: 850px;
    height: auto;
    max-height: 480px !important;
    .videothumb-wrap {

      margin: 0 auto;
      position: relative;
      padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
      padding-top: 30px;
      height: 0;
      overflow: hidden;
    }
    .videothumb-wrap iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

}

.lb-nav a.lb-prev {
  opacity: 1;
}

.lb-nav a.lb-next {
  opacity: 1;
}

.lightbox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.lb-outerContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.lb-data {
  margin-top: -46px;
}

.lb-details {
  display: none;
}

.price_text {
  font-weight: 700;
  font-size: 0.75em;
}

//.price_value{
//  font-size: 24px;
//}
//.price_currency{
//  font-size: 14px;
//}

