@import '../styles/variables';
@import '../styles/mixins';
//.search-page
.cols-five .grid-itemblock:hover .product__buttons .product__add, .cols-five .grid-itemblock .product__buttons .product__buy {
  line-height: 30px;
}
.search-page {
  padding-top: 184px;
  padding-left: 170px;
  padding-right: 170px;
  .search-page__row .search-icon{
    display: inline-block;
    width: 55px;
    height: 47px;
    position: absolute;
    background: #fff url("../../images/search-icon.svg") no-repeat 17px center;
    cursor: pointer;
  }
  &__row {
    input {
      border: none;
      border-radius: 2px;
      min-height: 48px;
      box-sizing: border-box;
      padding: 13px 17px 15px 58px;
      width: 100%;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #6004ba;
      /*background: #fff url("../../images/search-icon.svg") no-repeat 17px center;*/
      margin-bottom: 4px;

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }
      &:-moz-placeholder { /* Firefox 18- */
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
      }
    }
    label {
      margin-right: 10px;
    }
    .select-search {
      background: #fff url("../../images/triangle-black.svg") no-repeat 95% 50%;
      height: 44px;
      border: solid 1px #f2f2f2;
      padding-left: 15px;
      width: 230px;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
    &:nth-of-type(2) {
      padding: 20px 0;
    }
  }
  &__grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .slider-category__item {
      flex: 0 0 19%;
      max-width: 19%;
    }
  }
}

.slider-category {
  .product {
    padding-bottom: 19px;
  }
}

.slider-category__item.product:hover {
  z-index: 9;

  .product__buttons {
    position: relative;
    z-index: 9;
    width: calc(100% - 2px);
    height: 0px;
    display: block;
    left: 1px;
  }

  .product__add {
    position: absolute;
    bottom: -65px;
    left: -1px;
    width: calc(100% + 2px);
    height: 64px;
    //display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
    background: #fff;
    box-sizing: border-box;

    &:hover {
      background: #6004ba;
      color: #fff;
    }
  }

  .product__buy {
    position: absolute;
    bottom: -129px;
    left: -1px;
    width: calc(100% + 2px);
    height: 64px;
    display: block;
    text-align: center;
    z-index: 9;
    background: #fff;
    box-sizing: border-box;

    &:hover {
      background: #6004ba;
      color: #fff;
    }
  }
}

.gridcontainer {
  display: grid;
  display: -ms-grid;
  width: 100%;
  display: grid;
}

.cols-five {
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 270px 270px 270px 270px 270px;
  grid-auto-rows: minmax(252px, auto);
  grid-column-gap: 16px;
  grid-row-gap: 16px;

  .grid-itemblock {
    position: relative;
    height: 100%;
    padding-bottom: 35px;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid #6004ba;
      transition: all 0.34s ease-in;

      .product__like {
        visibility: visible;
        opacity: 1;
      }

      .product__buttons {
        display: block !important;
        visibility: visible;
        opacity: 1;
        z-index: 2;
        transition: all 0.34s ease-in;

        .product__add {
          position: absolute;
          bottom: -65px;
          left: -1px;
          width: calc(100% + 2px);
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          z-index: 9;
          background: #fff;
          border-left: 1px solid #6004ba;
          border-right: 1px solid #6004ba;
          box-sizing: border-box;
        }

        .product__buy {
          position: absolute;
          bottom: -129px;
          left: -1px;
          width: calc(100% + 2px);
          height: 64px;
          display: block;
          text-align: center;
          z-index: 9;
          background: #fff;
          border-bottom: 1px solid #6004ba;
          border-left: 1px solid #6004ba;
          border-right: 1px solid #6004ba;
          box-sizing: border-box;
        }
      }
      .product__buttons.finished {
        visibility: hidden;
      }
    }
    .product__best, .product__hit,.product__new,.product__notavailable, .product__super{
      margin-top: 16px;
    }

    .product__image img {
      display: block;
      width: 100%;
      max-width: 168px;
      height: 237px;
      object-fit: contain;
      transform-style: inherit;
      margin: 40px auto 0;
    }

    .product-top {
      padding: 0 10px;
      display: table;
      width: 100%;

      a {
        z-index: 100;
      }

      .product__sales {
        background-color: #00cac5;
        cursor: pointer;
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #fff;
        display: inline-block;
        position: relative;
        padding: 3px;
        float: right;
        margin-top: 16px;

        &:before {
          position: absolute;
          left: -21px;
          top: 0;
          content: '';
          display: table;
          clear: both;
          border: 13px solid transparent;
          border-right: 8px solid #00cac5;
        }
      }
    }

    .product__like {
      margin-top: 20px;
      margin-left: 17px;
      display: table;
      visibility: hidden;
      opacity: 0;
      float: left;
      cursor: pointer;
    }

    .product__description {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      padding: 0 26px;

      a {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        text-decoration: none;

        &:hover, .cols-five &:visited, &:focus, & a:active {
          color: #000;
          text-decoration: none;
        }
      }
    }

    .product__rating {
      padding: 0 26px;
      position: absolute;
      width: 100%;
      bottom: 100px;
      left: 0;

      .rating-count {
        color: #6004ba;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: left;
        position: relative;
        left: 5px;
        bottom: 2px;
      }
    }

    .product__buttons {
      display: block !important;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      width: 100%;
      bottom: 1px;

      .product__add, .product__buy {
        color: #6004ba;
        display: block;
        padding: 16px 0;
        text-align: center;
        text-decoration: none;
      }
    }
    .product__add:hover, .product__buy:hover {
      background: #6004ba !important;
      color: #fff;
    }

    .product__price-old {
      padding: 0 26px;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #979797;
      text-decoration: line-through;
      min-height: 40px;
      margin-top: 15px;
    }

    .product__price-current {
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      padding: 0 26px;
      &.is_discount{
        color: #ee0b0b;
      }
    }

  }

  .grid-itemblock_white {
    background: #fff;
  }
}

.bottom_pricepadding .grid-itemblock {
  position: relative;
  padding-bottom: 130px;

  .product__price-old {
    padding: 0 26px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 50px;
  }

  .product__price-current {
    padding: 0 26px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;

  }
  .product__price-current.finished {
    color: #DADADA;
  }
}

.favorite-padding {
  padding: 0 16px;
  padding-bottom: 50px;
}

.cols-seven {
  grid-template-columns: repeat(7, 1fr);
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 184px 184px 184px 184px 184px;
  grid-auto-rows: minmax(184px, auto);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background: #f4f7f6;

  .grid-itemblock {
    position: relative;
    height: 100%;
    padding-bottom: 165px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid #6004ba;
      transition: all 0.34s ease-in;

      .product__like {
        visibility: visible;
        opacity: 1;
      }

      .product__buttons {
        display: table;
        visibility: visible;
        opacity: 1;
        z-index: 2;
        transition: all 0.34s ease-in;

        .product__add {
          position: absolute;
          bottom: -65px;
          left: -1px;
          width: calc(100% + 2px);
          height: 64px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          z-index: 9;
          background: #fff;
          border-left: 1px solid #6004ba;
          border-right: 1px solid #6004ba;
          box-sizing: border-box;
          line-height: 30px;
        }
      }
    }

    .product__rating {
      position: absolute;
      width: 100%;
      bottom: 130px;
      left: 0;
    }

    .product__image img {
      display: block;
      width: 100%;
      max-width: 168px;
      height: 168px;
      object-fit: contain;
      transform-style: inherit;
      margin: 40px auto 0;
    }

    .product-top {
      padding: 0 10px;
      display: table;
      width: 100%;

      a {
        z-index: 100;
      }

      .product__sales {
        background-color: #00cac5;
        cursor: pointer;
        font-size: 16px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-align: center;
        color: #fff;
        display: inline-block;
        position: relative;
        padding: 3px;
        position: absolute;
        left: 90px;
        bottom: 95px;
        width: 50%;
        max-width: 55px;

        &:before {
          position: absolute;
          left: -21px;
          top: 0;
          content: '';
          display: table;
          clear: both;
          border: 13px solid transparent;
          border-right: 8px solid #00cac5;
        }
      }
    }

    .product__like {
      margin-top: 20px;
      margin-left: 17px;
      display: table;
      visibility: hidden;
      opacity: 0;
      float: left;
      cursor: pointer;
    }

    .product__description {
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      padding: 0 16px;

      a {
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        text-decoration: none;

        &:hover, &:visited, &:focus, &:active {
          color: #000;
          text-decoration: none;
        }
      }
    }

    .product__rating {
      padding: 0 16px;
      margin-top: 32px;

      .rating-count {
        color: #6004ba;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: left;
        position: relative;
        left: 5px;
        bottom: 2px;
      }
    }

    .product__buttons {
      display: table;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      background: #fff;
      width: 100%;
      bottom: 1px;

     .product__add, .product__buy {
        color: #6004ba;
        display: block;
        padding: 16px 0;
        text-align: center;
        text-decoration: none;
      }
    }

    .product__price-old {
      padding: 0 0 0 16px;
      width: 50%;
      font-size: 16px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #979797;
      text-decoration: line-through;
      min-height: 40px;
      margin-top: 25px;
      position: absolute;
      left: 0;
      bottom: 80px;
    }

    .product__price-current {
      font-size: 24px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      padding: 0 16px;
      position: absolute;
      bottom: 50px;
    }

    .product__btn {
      position: absolute;
      width: 100%;
      bottom: 0;
      font-family: ProximaNova;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: normal;
      color: #6004ba;
      text-align: center;
      text-decoration: none;

      &:hover {
        color: #fff;
        background: #6004ba;
      }
    }

  }

  .grid-itemblock_white {
    background: #fff;
  }

}



.search-brand {
  padding-top: 42px;
  background-color: #DADADA;
  padding-bottom: 70px;
  &__wrap {
    max-width: 1560px;
    margin: 0 auto;
  }
  &__letter {
    background-color: #fff;
    margin: 0 auto 100px;
    padding: 26px 15px 26px;

    .letter {
      display: flex;
      //justify-content: space-between;
      width: 100%;
      margin-bottom: 33px;
      &:nth-last-child(1){
        margin-bottom: 0;
      }
      &__link {
        padding: 0;
        margin: 0 1.43%;
        font-size: 19px;
        font-family: 'ProximaNova';
        font-weight: bold;
        line-height: 20px;
        color: #000;
        background-color: inherit;
        border: none;
        border-bottom: 1px solid transparent;
        transition: color .3s, border-bottom-color .3s;
        text-decoration: none;
        &:hover {
          border-bottom: 1px solid #6004BA;
          color: #6004BA;
        }

        &:nth-last-child(1) {
          margin-right: 0;
        }
      }
    }

  }

  &__result {
    margin: 0 auto 50px;
    &:nth-last-child(1){
      margin-bottom: 0;
    }

    
    .result {

      &__content {
        margin-bottom: 10px;
        &:nth-last-child(1){
          margin-bottom: 0;
        }


        &-head {
          display: flex;
          justify-content: space-between;
          width: 100%;
          align-items: center;
          padding: 13px 50px 4px 90px;
          &-title {
            Font-Size: 36px;
            Line-Height: 44px;
            font-family: 'ProximaNova';
            color: #000;
            font-weight: bold;
          }

          &-btn {
            display: inline-block;
            color: #000;
            font-size: 14px;
            line-height: 17px;
            text-decoration: none;

          }
        }

        &-wrap {
          background-color: #fff;
          padding: 35px 90px;
          ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            li{
              width: 33.33333%;
              padding: 0 15px;
              position: relative;
              color: #000;
              font-size: 14px;
              line-height: 17px;
              font-family: 'ProximaNova';
              margin-bottom: 10px;
              &:before {
                content: '\f111';
                font-family: 'FontAwesome';
                font-size: 6px;
                color: #000;
                position: absolute;
                left: 0;
                top: 0;
              }
              a {
                color: #000;
                font-size: 14px;
                line-height: 17px;
              }
            }
          }
        }
      }
    }


  }
}

.search-tag {
  padding-top: 42px;
  background-color: #DADADA;
  padding-bottom: 70px;
  &__wrap {
    max-width: 1560px;
    margin: 0 auto;
  }

  &__result {
    margin: 0 auto 50px;
    &:nth-last-child(1){
      margin-bottom: 0;
    }


    .result {

      &__content {
        margin-bottom: 10px;
        &:nth-last-child(1){
          margin-bottom: 0;
        }

        &-wrap {
          background-color: #fff;
          padding: 35px 90px;
          ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            li{
              width: 33.33333%;
              padding: 0 15px;
              position: relative;
              color: #000;
              font-size: 14px;
              line-height: 17px;
              font-family: 'ProximaNova';
              margin-bottom: 9px;
              &:hover {
                a {
                  color: #6004BA;
                  border-bottom: 1px solid #6004BA;
                }
              }
              &:before {
                content: '\f111';
                font-family: 'FontAwesome';
                font-size: 6px;
                color: #000;
                position: absolute;
                left: 0;
                top: 0;
              }
              a {
                color: #000;
                font-size: 14px;
                line-height: 17px;
                text-decoration: none;
                border-bottom: 1px solid transparent;
                transition: color .3s, border-bottom-color .3s;

              }
            }
          }
        }
      }
    }


  }
}

body .tags-breadcrumbs, body .brands-breadcrumbs{
  padding-bottom: 0;
}
.tags-page__name, .brands-page__name{
    font-size: 36px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: -1px;
    text-align: left;
    color: #000;
    margin-left: 50px;
}












