@import '../styles/variables';
@import '../styles/mixins';

.slider-category {
  background-color: #f4f7f6;
  position: relative;
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    @include sliders-categories-title;
    text-align: center;
    span{
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  &__content {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
    padding: 0 170px;
  }
  &__item {
    //background-color: #fff;
    //flex: 0 0 19%;
    //max-width: 19%;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
  }
  .product {
    //border: 1px solid transparent;
    padding-bottom: 125px;
    /*padding-bottom: 18px;*/
   // position: relative;
    .product-help-block {
      background-color: #fff;
      padding-top: 16px;
      width: 100%;
      position: relative;
      &:after {
        position: absolute;
        left: 0;
        width: 100%;
        content: '';
        height: 125px;
        top: 1px;
      }
    }
    &-top {
      border-top: 1px solid transparent;
      display: flex;
      justify-content: space-between;
      padding: 0 10px;

      a {
        z-index: 100;
      }
    }
    &__like {
      cursor: pointer;
     /* width: auto !important;*/
      opacity: 0;
      visibility: hidden;
      width: 23px !important;
      height: 19px;
      display: table;
      margin-top: 5px;
      margin-left: 7px;
    }
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 237px;
      img {
        display: block;
        //max-width: 168px;
        //max-height: 237px;
        width: 168px;
        height: 237px;
        object-fit: contain;
        margin-top: 40px; /*R*/
        transform-style: inherit;
      }
    }
    &__sales {
      @include sales;
    }
    &__description {
      min-height: 72px;
      max-height: 72px;
      overflow: hidden;
      min-width: 100%;
      padding: 0 36px;
      a {
        @include sliders-categories-product;
        &:hover {
          text-decoration: none;
          color: #000000;
        }
      }
      @include sliders-categories-product;
    }
    &__rating {
      margin-top: 5px;
      padding: 0 36px;
      .rating-count {
        color: $main-color-purple;
        font-size: 14px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.64;
        letter-spacing: normal;
        text-align: left;
        position: relative;
        left: 5px;
        bottom: 2px;
      }
      i {
        display: inline-block;
      }
    }
    &__price {
      border-bottom: 1px solid transparent;
      padding: 0 36px 24px;
      &-old {
        font-size: 16px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #979797;
        text-decoration: line-through;
        padding: 10px 0;
        min-height: 40px;
      }
      &-current {
        font-size: 24px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000000;
        &.is_discount{
          color: #ee0b0b;
        }
      }
    }
    &__buttons {
      visibility: hidden;
      opacity: 0;
    }
    &__add, &__buy {
      color: $main-color-purple;
      display: flex!important;
      justify-content: center;
      align-items: center;
      //display: block;
      padding: 16px 0;
      //text-align: center;
      text-decoration: none;
      &:hover {
        background-color: $main-color-purple;
        color: #ffffff;
        text-decoration: none;
      }
    }


    //.product__add, .product__buy {
    //    display: none;
    //}

    &:hover {
      border: 1px solid $main-color-purple;
      margin-top: 0;
      display: flex;
      position: relative;
      padding-bottom: 0;
      .product-top,
      .product__price{
        border: none;
      }
      .product__buttons {
        margin-top: 28px;
        //display: block;
        //position: relative;
        //width: 100%;
        display: block;
        //position: relative;
        //width: 100%;
        background: #fff;
        visibility: visible;
        opacity: 1;
        position: relative;
        left: 0;
        top: -36px;
      }
      .product__buttons.finished {
        visibility: hidden;
      }


      //.product__add {
      //  display: table;
      //  position: absolute;
      //  bottom: -50px;
      //  left: 0;
      //  z-index: 9999999999999;
      //  width: 100%;
      //}
      //
      //.product__buy {
      //  display: block;
      //  position: absolute;
      //  bottom: -100px;
      //  left: 0;
      //  width: 100%;
      //  z-index: 9999999999999;
      //}


      .product__like {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}


//.slider-category__content .owl-carousel .owl-stage-outer {
//  overflow-y: visible;
//  overflow-x: hidden;
//  display: block;
//  height: auto;
//}

.bestsellers {
  padding-bottom: 25px;
  .slider-category__title {
    padding-bottom: 0;
  }
  h1{
    text-align: center;
    color: black;
  }
  &__url {
    text-align: center;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1014px;
    margin: auto;
    //a:first-child{
    //  border-bottom: 1px solid #6004ba;
    //}
  }
  &__link {
    border-bottom: 1px solid transparent;
    display: inline-block;
    font-family: 'Proximanova', sans-serif;
    font-size: 16px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6004ba;
    padding-bottom: 5px;
    &:hover {
      border-bottom: 1px solid $main-color-purple;
      color: $main-color-purple;
      text-decoration: none;
      outline: none;
    }
    &:active, &:focus {
      color: $main-color-purple;
      text-decoration: none;
      outline: none;
    }

    &.active {
      border-bottom: 1px solid $main-color-purple;
      color: $main-color-purple;
      text-decoration: none;
      outline: none;
    }

  }
}

.hits {
    padding-bottom: 25px;
  &__arrow {
    //@include center;
    &-wrapper {
      position: relative;
    }
  }
}

.receipts {
  background: #fff;
  padding-top: 66px;
  padding-bottom: 71px;
  position: relative;
  overflow: hidden;
  &__title {
    font-family: 'ProximaNova', sans-serif;
    padding-bottom: 15px;
    text-align: center;
    a {
      @include slider-receipt-title;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__content {
    padding: 0 220px;
  }
  &__item {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 28px;
    &:hover {
      border: 2px solid #f3f7f6;
      .receipts__description {
        color: $main-color-purple;
      }
    }
  }
  &__image {
    width: 100%;
    position: relative;
  }
  &__description {
    font-family: 'ProximaNova', sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #000;
    margin-top: 23px;
    min-height: 49px;
  }
}

.blog-slider {
  background: #fff;
  border-bottom: solid 2px #e7e7e7;
  padding-top: 93px;
  padding-bottom: 10px;
  overflow: hidden;
  position: relative;
  &__content {
    padding: 0 220px;
  }
  &__item {
    border: 1px solid transparent;
    cursor: pointer;
    padding: 28px;
    &:hover {
      border: 1px solid #f3f7f6;
      .blog-slider__description {
        color: $main-color-purple;
      }
    }
    .blog-slider__tags {
      bottom: 0;
    }
  }
  &__image {
    width: 100%;
    position: relative;
  }
  &__description {
    font-family: 'ProximaNova', sans-serif;
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    text-align: left;
    color: #000000;
    margin-top: 15px;
    min-height: 90px;
  }
  &__date, &__author {
    color: #979797;
  }

  .auth {
    padding-top: 0;
  }

  .auth-date {
    padding-right: 10px;
    padding-left: 27px;
  }

  .auth-author {
    padding-left: 10px;
  }
}

.with-product-slider,
.maybe-like-slider,
.history-product-slider{
  .product {
    padding-bottom: 0;
    &__image {
      img {
        max-width: 88px;
        max-height: 124px;
      }
    }
    &__description {
      font-size: 16px;
      padding: 0 10px;
    }
    &__rating {
      font-size: 14px;
      padding: 0 10px;
    }
    &__price {
      position: relative;
      &-old {
        display: inline-block;
      }
    }
    &__sales {
      float: right;
    }
    &__btn {
      display: block;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 40px;
      letter-spacing: normal;
      text-align: center;
      color: $main-color-purple;
      height: 40px;
      background-color: #ffffff;
      padding: 0 10px;
      margin-top: 25px;
      &:hover {
        background: $main-color-purple;
        color: #ffffff;
        text-decoration: none;
      }
    }
    .product-help-block {
      border-top: 1px solid #ffffff;
      padding-top: 20px;
      &:after {
        display: none;
      }
    }
    &:hover {
      .product-help-block {
        border: none;
      }
    }
  }
}

.slider-category__content_unpadding .slider-category__item {
  padding-bottom: 0 !important;
  &:hover {
    padding-bottom: 0 !important;
  }
}

.blog-slider__description a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #6004ba;
    text-decoration: none;
  }
  &active, &visited, &focus {
    color: #000;
  }
}

.blog__text a {
  text-decoration: none;
  color: #000;
  &:hover {
    color: #6004ba;
    text-decoration: none;
  }
  &active, &:visited, &:focus {
    color: #000;
  }
}
.news{
  padding-bottom: 25px;
}






















