/*tabs*/
.tabs {
  &__title {
    font-family: 'Proximanova', sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding-bottom: 37px;
    padding-top: 10px;
  }
}
#tabs-container{
  overflow: hidden;
  max-width: 80%;
}
.tabs-menu {
  height: 40px;
  clear: both;
  display: flex;
  justify-content: space-between;
}
.tabs-menu li {
  float: left;
  text-align: center;
  border: none;
}
.tabs-menu li.current {
  position: relative;
  text-align: center;
  z-index: 5;
}
.tabs-menu li a {
  cursor: pointer;
  display: block;
  font-family: 'Proximanova', sans-serif;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #000000;
  //border-bottom: dashed 1px #7d31c7;
  text-decoration: none;
}
.tabs-menu li.current a{
  font-family: 'Proximanova', sans-serif;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #6004ba;
  border-bottom: dotted 1px #7d31c7;
}
.tabs-menu .current a {
  color: #2e7da3;
}
.tab {
  background-color: #fff;
  width: auto;
}
.tab-content {
  width: auto;
  display: none;
  &__text {
    border-bottom: solid 1px rgba(151, 151, 151, 0.4);
    font-family: 'Proximanova', sans-serif;;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    padding: 20px 0;
    margin: 0;
  }
}
.tab-content p{
  font-family: 'Proximanova', sans-serif;
  font-size: 16px;
}
#tab-1 {
  display: block;
}
.tab_last { border-right: 1px solid #333; }
.tab_drawer_heading { display: none; }
#tab1,
#tab2,
#tab3,
#tab4{
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .tabs-menu {
    display: none;
  }
  .tabs__title, .tab {
    padding: 25px;
  }
  .tab_drawer_heading {
    display: block;
    font-family: 'Proximanova', sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    color: #000000;
    border-bottom: dashed 1px #7d31c7;
    text-decoration: none;
  }
  .d_active {
    font-family: 'Proximanova', sans-serif;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #6004ba;
    border-bottom: solid 1px #7d31c7;
  }
}